<section class="" id="penawaran">
    <div class="section__container section__container--color rounded-2 section__container--gray">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="section__heading left">
                        <h2 class="head__text--title">
                            Package and Customization Prices
                        </h1>
                        <p class="content__text mb-lg-5 mb-2">
                            Unlock Exclusive Offers at Payung Madinah!
                            Receive a Complimentary Consultation with Our Expert Team
                            to Craft Tailored Digital Products That Fit Your Needs Perfectly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-12 col-md-5">
                    {{> components/pricelanding}}
                </div>
                <div class="col col-12 col-md-5">
                    {{> components/pricebusiness}}
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="/layanan" target="_self">See other services</a>
            </div>
        </div>
    </div>
</section>