.bnav {
  position: relative;
  &__icon {
    position: absolute;
    width: 40px;
    bottom: 12px;
    right: 33px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2 ease;

    @media #{$media-not-desktop}{   
      width: 35px;
      height: 35px;
      top: unset;
    }

    &:hover {
      background-color: $orange;
    }

    i {
      color: #fff;
      position: relative;
      font-size: 19px;
      left: 25%;
      top: 16%;

      @media #{$media-not-desktop}{    
        font-size: 18px;
      }
    }
  }

}