{{> components/navigation}}
<div class="submasthead2">
  <img loading="lazy" src="/images/blogs/thumb.png" alt="Visa" />
</div>
<section class="masthead__container">
  <div class="container">
    <div class="row jusify-content-center">
      <div class="col col-12 col-lg-9 mb-lg-4 mb-1">
        {{> components/breadcrumb breadcrumbs=breadcrumbs class="black"}}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-12 col-lg-9">
        <div class="detail-header">
          <h1>{{mastheadTitle}}</h1>
          <p class="mb-lg-5 mb-3">Visa Lebih Mudah<br />Perjalanan Lebih Nyaman
            bersama Payung
            Madinah</p>
          <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
            href="http://linktr.ee/payungmadinahtour" target="_blank"><i
              class="bi bi-whatsapp me-2"></i>Konsultasi Gratis</a>
        </div>
      </div>
      <div class="col col-12 col-lg-10">
        {{> components/umroh/turki}}
      </div>
    </div>
  </div>
</section>
{{> components/footer}}