<div class="modal fade" id="campaignug" aria-hidden="true" aria-labelledby="campaignug" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img loading="lazy" src="/images/campaign/campaign-idul-adha.jpg" style="border-radius:15px;" class="w-100" alt="">
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button class="bt block-mobile orange text-white mb-0 mb-lg-2 mb-2" id="toCampaign2">Ambil Promo <i class="bi bi-arrow-up-right ms-2"></i></button>
        <button class="bt block-mobile orange outline text-white" data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal" data-bs-dismiss="modal">Nanti Aja<i class="bi bi-x-lg ms-2"></i></button>
        <a class="w-100 d-block text-center text-danger js-close-perm-modal"
          style="text-decoration: none;font-size:11px;padding: 10px 0 6px 0;" href="#"><i class="bi bi-info-circle me-2"></i>Jangan tampilkan lagi</a>
      </div>
    </div>
  </div>
</div>