<div class="modal fade" id="campaign1" aria-hidden="true" aria-labelledby="campaign1Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img loading="lazy" src="/images/campaign/img-promotion.jpg" style="border-radius:15px;" class="w-100" alt="">
      </div>
      <div class="modal-footer text-center justify-content-center">
        {{!-- <button class="bt block-mobile orange text-white mb-0 mb-lg-2 mb-2" id="toCampaign2">Ambil Promo <i class="bi bi-arrow-up-right ms-2"></i></button> --}}
        <a class="bt block-mobile orange text-white mb-0 mb-lg-2 mb-2" href="http://payungmadinah.id/umroh-gratis" target="_blank">Lihat Program</a>
        <button class="bt block-mobile orange outline text-white" data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal" data-bs-dismiss="modal">Nanti Aja<i class="bi bi-x-lg ms-2"></i></button>
        <a class="w-100 d-block text-center text-danger js-close-perm-modal"
          style="text-decoration: none;font-size:11px;padding: 10px 0 6px 0;" href="#"><i class="bi bi-info-circle me-2"></i>Jangan tampilkan lagi</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="campaign2" aria-hidden="true" aria-labelledby="campaign2Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg custom-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-lg-5 mb-4">
          <h4 class="fw-bold">Klaim Promo</h4>
          <p>Klaim promo kamu sekarang</p>
        </div>
        <div class="row">
          <div class="col col-12 col-xl-4 mb-4">
            <div class="campaign-pict text-center">
              <img loading="lazy" src="/images/thumb/palembang.jpg" style="border-radius:100%;padding:0 80px;" alt=""
                class="w-100 mb-3">
              <h6 class="text-center">Anggun Fania</h6>
              <p class="text-muted mb-lg-3 mb-2" style="font-size:11px;">Palembang</p>
              <a class="d-inline bt orange outline js-campaign-contact"
                href="https://api.whatsapp.com/send?phone=+6288276691839&text=Assalamualaikum warrahmatullahi wabaraktuh, saya mendapatkan informasi mengenai Umroh dari website HIPMI Sumsel (payungmadinah.id) dan klaim promo Idul Adha. Mohon berikan informasi lebih lanjut terkait paket Umroh yang tersedia. Mohon bantuannya terimakasih. Wassalamualaikum warrahmatullahi wabarakatuh."
                target="_blank">
                <i class="bi bi-whatsapp me-2"></i>Hubungi
              </a>
            </div>
          </div>
          <div class="col col-12 col-xl-4 mb-4">
            <div class="campaign-pict text-center">
              <img loading="lazy" src="/images/thumb/jakarta.jpg" style="border-radius:100%;padding:0 80px;" alt="" class="w-100 mb-3">
              <h6 class="text-center">Elisa Sefani</h6>
              <p class="text-muted mb-lg-3 mb-2" style="font-size:11px;">Jakarta</p>
              <a class="d-inline bt orange outline js-campaign-contact"
                href="https://api.whatsapp.com/send?phone=+6282120358034&text=Assalamualaikum warrahmatullahi wabaraktuh, saya mendapatkan informasi mengenai Umroh dari website HIPMI Sumsel (payungmadinah.id) dan klaim promo Idul Adha. Mohon berikan informasi lebih lanjut terkait paket Umroh yang tersedia. Mohon bantuannya terimakasih. Wassalamualaikum warrahmatullahi wabarakatuh."
                target="_blank">
                <i class="bi bi-whatsapp me-2"></i>Hubungi
              </a>
            </div>
          </div>
          <div class="col col-12 col-xl-4 mb-4">
            <div class="campaign-pict text-center">
              <img loading="lazy" src="/images/thumb/bandung.jpg" style="border-radius:100%;padding:0 80px;" alt=""
                class="w-100 mb-3 ">
              <h6 class="text-center">Hisanti Hunafa</h6>
              <p class="text-muted mb-lg-3 mb-2" style="font-size:11px;">Bandung</p>
              <a class="d-inline bt orange outline js-campaign-contact"
                href="https://api.whatsapp.com/send?phone=+6288276691843&text=Assalamualaikum warrahmatullahi wabaraktuh, saya mendapatkan informasi mengenai Umroh dari website HIPMI Sumsel (payungmadinah.id) dan klaim promo Idul Adha. Mohon berikan informasi lebih lanjut terkait paket Umroh yang tersedia. Mohon bantuannya terimakasih. Wassalamualaikum warrahmatullahi wabarakatuh."
                target="_blank">
                <i class="bi bi-whatsapp me-2"></i>Hubungi
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>