<div class="modal fade" id="hiring1" aria-hidden="true" aria-labelledby="campaign2Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md custom-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-lg-4 mb-3">
          <h4 class="fw-bold">Kualifikasi</h4>
        </div>
        <div class="row">
          <div class="col col-12 col-xl-12 mb-4">
            <ul class="mb-0">
              <li>Ikhwan/Akhwat Muslim</li>
              <li>Pendidikan minimal D3/S1</li>
              <li>Siap mempelajari hal baru</li>
              <li>Diutamakan mempunyai pengalaman di Travel Umroh</li>
              <li>Bersedia ditempatkan sesuai lokasi pilihan</li>
              <li>Teliti, Komunikatif, Jujur</li>
            </ul>

            <p style="margin-top:18px;font-size:12px;margin-left:16px;">
              <i class="d-block mb-1">
                Kirim CV dan Lamaran (PDF) ke email :<br /> payungmadinah.recruitment@gmail.com
              </i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="hiring2" aria-hidden="true" aria-labelledby="campaign2Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md custom-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-lg-4 mb-3">
          <h4 class="fw-bold">Kualifikasi</h4>
        </div>
        <div class="row">
          <div class="col col-12 col-xl-12 mb-4">
            <ul class="mb-0">
              <li>Ikhwan/Akhwat Muslim</li>
              <li>Pendidikan minimal SMA/SMK/D3</li>
              <li>Siap mempelajari hal baru</li>
              <li>Diutamakan mempunyai pengalaman di Travel Umroh</li>
              <li>Bersedia ditempatkan sesuai lokasi pilihan</li>
              <li>Teliti, Komunikatif, Jujur</li>
            </ul>

            <p style="margin-top:18px;font-size:12px;margin-left:16px;">
              <i class="d-block mb-1">
                Kirim CV dan Lamaran (PDF) ke email :<br /> payungmadinah.recruitment@gmail.com
              </i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="hiringeditor" aria-hidden="true" aria-labelledby="campaign2Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md custom-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-lg-4 mb-3">
          <h4 class="fw-bold">Kualifikasi Content Editor</h4>
        </div>
        <div class="row">
          <div class="col col-12 col-xl-12 mb-4">
            <ul class="mb-0">
              <li>Ikhwan Muslim</li>
              <li>Pendidikan minimal SMA/SMK/D3</li>
              <li>Siap mempelajari hal baru</li>
              <li>Diutamakan mempunyai pengalaman di Travel Umroh</li>
              <li>Bersedia ditempatkan sesuai lokasi pilihan</li>
              <li>Teliti, Komunikatif, Jujur</li>
            </ul>

            <p style="margin-top:18px;font-size:12px;margin-left:16px;">
              <i class="d-block mb-1">
                Kirim CV dan Lamaran (PDF) ke email :<br /> payungmadinah.recruitment@gmail.com
              </i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>