{{> components/navigation}}
<section class="masthead__container mb-0 pb-0">
   <div class="container">
      <div class="row jusify-content-center">
         <div class="col col-12 col-lg-9 mb-lg-4 mb-1">
            {{> components/breadcrumb breadcrumbs=breadcrumbs}}
         </div>
      </div>
   </div>
   <div class="row justify-content-center mb-lg-5 mb-5 pb-lg-5">
      <div class="col col-12 col-lg-4">
         <div class="detail-content">
            <div class="color-orange fs-5 text-center fw-bold">Tentang
               Kami !</div>
            <h1
               class="fw-bold mb-lg-0 mb-3 mt-lg-2 mt-3 text-center fs-2 lh2">Spesialis
               Umroh & Haji Berpengalaman
               dengan Pelayanan Berkah
            </h1>
         </div>
      </div>
   </div>
   {{> components/sliderteam}}
</section>

<section class="mt-lg-5 mt-5">
   <div class="container">
      <div class="row justify-content-center mb-lg-3 mb-2">
         <div class="col col-12 col-lg-9 mb-lg-0 mb-0">
            <h2 class="fw-bold mb-3 text-center color-orange">Visi & Misi Payung
               Madinah</h2>
            <div class="row justify-content-center">
               <div class="col col-12 col-lg-6 mb-lg-4 mb-3">
                  <p class="text-center">
                     Rasakan Kenyamanan dalam menjalankan ibadah Umroh dengan
                     Program Umroh Plus bersama Payung Madinah
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="wrap">
         <div class="row justify-content-center mb-lg-5 mb-4">
            <div class="col col-12 col-lg-9">
               <div style="background-color: #eee;"
                  class="card-br16 p-lg-5 p-3">
                  <div class="row mb-lg-5 mb-3">
                     <div class="col col-12 col-lg-6">
                        <img loading="lazy" src="/images/banners/banner1ab.png"
                           class="card-br16 mb-lg-0 mb-4" width="100%"
                           data-aos="fade" data-aos-delay="0"
                           data-aos-duration="1500" />
                     </div>
                     <div class="col col-12 col-lg-6">
                        <h3 class="fw-bold fs-5 mb-lg-4 mb-3">
                           Visi Payung Madinah
                        </h3>
                        <p>
                           Menjadi mitra ibadah yang terpercaya dan profesional
                           dalam melayani tamu-tamu Allah, dengan sepenuh
                           hati mendampingi setiap langkah perjalanan umroh dan
                           haji. Kami berkomitmen untuk mengedepankan
                           pembinaan ibadah sesuai dengan Al-Quran dengan Sunnah
                           Rsaulullah Shalallahu Alaihi Wasallam.
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col col-12 col-lg-6  mb-lg-0 mb-4">
                        <h3 class="fw-bold fs-5 mb-lg-4 mb-3">
                           Misi Payung Madinah
                        </h3>
                        <div class="d-flex mb-lg-2 mb-2">
                           <div>
                              <i
                                 class="bi bi-check-circle text-success me-3"></i>
                           </div>
                           <div>
                              Membimbing jamaah Umroh untuk memahami dan
                              melaksanakan ibadah sesuai tuntunan Islam.
                           </div>
                        </div>
                        <div class="d-flex mb-lg-2 mb-2">
                           <div>
                              <i
                                 class="bi bi-check-circle text-success me-3"></i>
                           </div>
                           <div>
                              Membimbing jamaah Umroh untuk memahami dan
                              melaksanakan ibadah sesuai tuntunan Islam.
                           </div>
                        </div>
                        <div class="d-flex mb-lg-2 mb-2">
                           <div>
                              <i
                                 class="bi bi-check-circle text-success me-3"></i>
                           </div>
                           <div>
                              Menumbuhkan kecintaan dan ketaqwaan kepada Allah
                              SWT melalui pengalaman ibadah Umroh yang bermakna.
                           </div>
                        </div>
                     </div>
                     <div class="col col-12 col-lg-6">
                        <img loading="lazy" src="/images/banners/banner2ab.png"
                           class="card-br16" width="100%" data-aos="fade"
                           data-aos-delay="0" data-aos-duration="1500" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="masthead__container" style="margin-bottom: 40px; padding-bottom:40px;">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col col-12 col-lg-5 order-2 order-lg-2 position-relative">
            <div class="detail-header center-vertical" style>
               <h1 class="text-dark fs-2">Di Balik Perjalanan Suci,
                  Selalu Ada Tim Hebat yang
                  Menyertainya</h1>
               <p class="mb-lg-5 mb-3 text-dark">Berpengalaman dalam mendampingi
                  ribuan jamaah,
                  kami bekerja dengan sistem yang terukur, pelayanan
                  yang tulus, dan komitmen yang kuat untuk ibadah Anda
                  yang lebih khusyuk</p>
               <div class="d-flex gap-3">
                  <a class="bt block-mobile orange text-black mb-0 mb-lg-2"
                     href="http://linktr.ee/payungmadinahtour"
                     target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Selengkapnya</a>
               </div>
            </div>
         </div>
         <div class="col col-12 col-lg-3 order-1 order-lg-1">
            <div data-aos="fade" data-aos-duration="1500" data-aos-delay="30">
               <img loading="lazy" src="/images/banners/bannerx.png" class="w-100 mb-lg-0 mb-5"
                  alt="Karir Payung Madinah" />
            </div>
         </div>
      </div>
   </section>

   <section class="masthead__container mt-lg-5 mt-5 pb-lg-2 pb-1"
      style="margin-bottom: 32px;">
      <div class="container">
         <div class="row mb-lg-5 mb-4 justify-content-center">
            <div class="col col-9">
               <h2 class="fw-bold color-orange text-center mb-lg-5 mb-4">Tim
                  kami
                  hadir untuk memastikan setiap jamaah merasa
                  tenang, terlayani, dan diprioritaskan.</h2>
            </div>
            <div class="col col-lg-10 col-12">
               <div class="row">
                  <div class="col col-12 col-lg-4 mb-lg-0 mb-3 js-match-height">
                     <div class="card" style="background-color: #f4f4f4;">
                        <div class="card-body">
                           <img loading="lazy" src="/images/icons/icxa1.png" class="mb-3" alt
                              width="50" />
                           <h2 class="fw-bold fs-5 text-dark">Profesional &
                              Terlatih
                           </h2>
                           <p class="text-dark fs-14">Setiap anggota tim kami
                              memiliki
                              pengalaman di bidang travel umroh
                              dan dibekali pelatihan rutin untuk
                              memastikan pelayanan yang cepat,
                              tepat, dan ramah.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col col-12 col-lg-4 mb-lg-0 mb-3 js-match-height">
                     <div class="card" style="background-color: #f4f4f4;">
                        <div class="card-body">
                           <img loading="lazy" src="/images/icons/icxa1.png" class="mb-3" alt
                              width="50" />
                           <h2 class="fw-bold fs-5 text-dark">Pelayanan Sepenuh
                              Hati
                           </h2>
                           <p class="text-dark fs-14">Kami menganggap setiap
                              jamaah
                              sebagai tamu istimewa Allah. Karena
                              itu, kami melayani bukan sekadar
                              bekerja, tapi dengan penuh
                              ketulusan dan tanggung jawab.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col col-12 col-lg-4 js-match-height">
                     <div class="card" style="background-color: #f4f4f4;">
                        <div class="card-body">
                           <img loading="lazy" src="/images/icons/icxa1.png" class="mb-3" alt
                              width="50" />
                           <h2 class="fw-bold fs-5 text-dark">Solid &
                              Terorganisir
                           </h2>
                           <p class="text-dark fs-14">Dari admin hingga tour
                              leader, kami
                              bekerja dalam sistem yang rapi dan
                              terintegrasi untuk memastikan
                              perjalanan ibadah Anda berjalan
                              lancar dari awal hingga akhir.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="container">
         <div class="row justify-content-center">
            <div class="col col-12 col-lg-12">
               <div class="detail-content">
                  <div class="py-lg-4 py-2 text-center banner-about">
                     <img style="width:100%;" data-aos="fade" data-aos-delay="150"
                        data-aos-duration="1500"
                        src="/images/about-bg.jpg" />
                  </div>
               </div>
            </div>
         </div>

         <div class="mb-lg-5 mb-4">
            {{> components/counterabout}}
         </div>
      </div>
   </section>

   <section class="masthead__container mt-lg-5 mt-5 pb-lg-4 pb-3">
      <div class="container">
         <div class="row justify-content-center mb-lg-5 mb-4">
            <div class="col col-12 col-lg-9">
               <h2 class="fw-bold text-center fs-2 color-orange">Struktur Organisasi Payung Madinah</h2>
               <div class="mt-lg-5 mt-4" style="background-color: #fafafa; border-radius:24px;">
                  <img loading="lazy" src="/images/banners/struktur.png"
                     class="w-100 mt-lg-3 mt-2" data-aos="fade"
                     data-aos-delay="0" data-aos-duration="1500" alt="Struktur Organisasi Payung Madinah" />
               </div>
               <hr>
               <div class="d-flex">
                  <div class="fw-bold text-muted">Update 2025</div>
                  <div class="ms-auto fw-bold text-muted">Innovative & Collaborative</div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="masthead__container mt-lg-5 mt-5 pb-lg-4 pb-3">
      <div class="container">
         <div class="row mb-lg-5 mb-4">
            <div class="col col-8">
               <h6>Specialist Umroh Plus !</h6>
               <h2 class="fw-bold fs-5">Legalitas Perusahaan Payung Madinah</h2>
            </div>
         </div>
         <div class="row">
            <div class="col col-12 col-lg-4  mb-lg-4 mb-4">
               <img loading="lazy" src="/images/logo-main.svg" data-aos="fade"
                  data-aos-delay="0" data-aos-duration="1500" height="50"
                  class="mb-lg-3 mb-2" alt="Logo Kementerian Agama" />
               <h2 class="fw-bold fs-5">Legalitas dari Kementerian Agama</h2>
               <p>Payung Madinah terdaftar sebagai badan usaha resmi di
                  Indonesia dengan nama PT Payung Madinah Nabawi</p>
            </div>
            <div class="col col-12 col-lg-4 mb-lg-4 mb-4">
               <img loading="lazy" src="/images/icons/kemenag.png" data-aos="fade"
                  data-aos-delay="0" data-aos-duration="1500" height="50"
                  class="mb-lg-3 mb-2" alt="Logo Kementerian Agama" />
               <h2 class="fw-bold fs-5">Legalitas dari Kementerian Agama</h2>
               <p>Payung Madinah terdaftar sebagai badan usaha resmi di
                  Indonesia dan memiliki izin resmi dari Kementerian Agama
                  Republik Indonesia dengan PPIU NO IZIN: 20062300321730002
                  TAHUN 2025</p>
            </div>
         </div>
      </div>
   </section>

   <div class="mb-lg-5 mb-2 pb-lg-5 pb-5 mt-lg-5 mt-3">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col col-12 col-lg-8">
               <h2 class="fw-bold text-center fs-5">Kerjasama dengan Perusahaan
                  Internasional</h2>
            </div>
         </div>
         {{>components/partnermarquee}}
      </div>
   </div>

   {{> components/footer}}