{{> components/navigation}}
<div class="submasthead">
  <img loading="lazy" src="/images/blogs/thumb.png" alt="Visa" />
</div>
<section class="masthead__container">
  <div class="container">
    <div class="row jusify-content-center">
      <div class="col col-12 col-lg-9 mb-lg-4 mb-1">
        {{> components/breadcrumb breadcrumbs=breadcrumbs class="black"}}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-12 col-lg-9">
        <div class="detail-header">
          <h1>Ayo Jadi Agen Marketing Payung Madinah</h1>
          <p class="mb-lg-5 mb-3">Raih Pahala dan Fee jutaan sampai puluhan sebagai agen Payung Madinah Tour</p>
          <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
            href="http://linktr.ee/payungmadinahtour" target="_blank"><i
              class="bi bi-whatsapp me-2"></i>Daftar Sekarang</a>
        </div>
      </div>
    </div>

    <div class="mb-lg-5 mb-4">
      {{> components/step}}
    </div>

    <div class="row justify-content-center mb-lg-4 mb-4">
      <div class="col col-12 col-lg-9">
        <div class="detail-content">
          <h2 class="fw-bold mb-3">Bagaimana Sistem Kerja nya ?</h2>
          <ul>
            <li>Bukan merupakan sistem MLM (Multi Level Marketing) Bisnis ini dijalankan dengan sistem jual beli jasa yang berlaku secara normal, dan tidak diwajibkan kepada agen untuk mencari target sesuai dengan keinginan perusahaan.</li>
            <li>Tidak Mengejar Target, Anda yang bergabung di PT. Payung Madinah tidak akandikejar kejar oleh target atau minimal jamaah yang harus di dapatkan, semua hasil kerja diserahkan sepenuhnya pada kemampuan dan kemauan anda untuk berhasil</li>
            <li>Bimbingan Online dan Offline, Ketika anda yang bergabung dengan Payung Madinah dan akan dibimbing baik secara offline maupun online untuk kesuksesan anda.</li>
            <li>Marketing Offline dan Online System marketing diserahkan kepada anda, apakah anda ingin mendapatkan jamaah secara offline ataupun online. semua sesuai kemampuan anda, mana yang nyaman untuk anda.</li>
            <li>Jam Kerja Flexible, Seorang agent Marketing anda tidak diwajibkan ke kantor setiap hari, anda bisa mengatur sendiri jam kerja yang paling nyaman untuk anda.</li>
            <li>Sarana Promosi yang disediakan sesuai dengan Paket yang di ambil, Sarana promosi seperti design Flyer, brosur, spanduk, kartu nama dll disediakan oleh Payung Madinah sehingga anda tinggal jalankan promosinya</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-lg-4 mb-4">
      <div class="col col-12 col-lg-12 mb-lg-5 mb-4">
        <h2 class="fw-bold mb-3 text-center">Siapa yang bisa menjalankan peluang usaha ini ?</h2>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Ibu Rumah Tangga</h5>
            <p class="card-text text-dark">Ibu rumah tangga yang ingin mendapatkan penghasilan tambahan tanpa meninggalkan rumah.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Pengangguran</h5>
            <p class="card-text text-dark">Pengangguran yang masih atau sedang mencari pekerjaan tetap, bisa menjadi agen kami.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Karyawan/i</h5>
            <p class="card-text text-dark">Karyawan dan Karyawati yang ingin menambah penghasilan.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Pensiunan</h5>
            <p class="card-text text-dark">Pensiunan yang ingin menambah penghasilan.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Yang berminat</h5>
            <p class="card-text text-dark">Yang memiliki nian untuk umroh namun belum mempunyai biaya.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Investor</h5>
            <p class="card-text text-dark">Investor yang memiliki dana dan mencari peluang bisnis.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Mahasiswa</h5>
            <p class="card-text text-dark">Mahasiswa yang ingin mencari tambahan uang saku.</p>  
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 mb-lg-3 mb-2">
        <div class="card card--border js-match-height">
          <div class="card-body">
            <h5 class="card-title text-dark mb-1 fw-bold">Seluruh Umat Muslim</h5>
            <p class="card-text text-dark">Seluruh Umat Muslim yang ingin mencari penghasilan tambahan.</p>  
          </div>
        </div>
      </div>
    </div>

    <div class="row"> 

    </div>
  </div>
</section>
{{> components/footer}}