{{> components/navigation}}

<div class="masthead__container" style="background-color: #fcfcfc;">
   <div class="container">
      <div class="row jusify-content-center">
         <div class="col col-12 col-lg-9 mb-lg-4 mb-1">
            {{> components/breadcrumb breadcrumbs=breadcrumbs}}
         </div>
      </div>
      <div class="row">
         <div class="col col-12 col-lg-10 order-2 order-lg-1 position-relative">
            <div class="detail-header">
               <div class="center-vertical">
                  <h1 class="text-dark fs-2">Kunjungi Office Kami <br />
                     dan Konsultasikan Sekarang!</h1>
               </div>
            </div>
         </div>
         <div class="col col-12 col-lg-2 order-1 order-lg-2">
            <div class="thumb-contact">
               <img loading="lazy" src="/images/percentage.png" class="w-100 mb-lg-0 mb-4"
                  alt="Karir Payung Madinah" data-aos="fade" data-aos-delay="0"
                  data-aos-duration="1000" />
            </div>
         </div>
      </div>
      <hr style="color: #b19167;" />
      <div class="row mt-lg-4 mt-3">
         <div class="col-12 col-lg-4">
            <img loading="lazy" src="/images/home1.jpg" data-aos="fade" data-aos-delay="0"
               data-aos-duration="1000" class="w-100 mb-lg-0 mb-3" alt />
         </div>
         <div class="col-12 col-lg-4">
            <img loading="lazy" src="/images/home2.jpg" data-aos="fade" data-aos-delay="0"
               data-aos-duration="1200" class="w-100 mb-lg-0 mb-3" alt />
         </div>
         <div class="col-12 col-lg-4">
            <img loading="lazy" src="/images/home3.jpg" data-aos="fade" data-aos-delay="0"
               data-aos-duration="1500" class="w-100 mb-lg-0 mb-3" alt />
         </div>
      </div>
   </div>
</div>

<section class="masthead__container py-lg-5 py-4">
   <div class="container">
      <div class="row mb-lg-4 mb-3">
         <h2 class="fw-bold">Head Office</h2>
         <p>Payung Madinah Jakarta</p>
      </div>
      <div class="row mb-lg-4 mb-3">
         <div class="col col-12 col-lg-6 mb-lg-0 mb-3">
            <iframe class="mb-lg-4 mb-3" data-aos="fade" data-aos-delay="0"
               data-aos-duration="1500"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.334628114283!2d106.83051957592154!3d-6.219529160917845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f538c1a1c91d%3A0x53c2e7672bc8ed8!2sPayung%20Madinah%20Tour%20-%20Head%20Of%20Office%20Jakarta!5e0!3m2!1sen!2sid!4v1747954265781!5m2!1sen!2sid"
               width="100%" height="300" style="border:0;" allowfullscreen
               loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="row">
               <div class="col col-12">
                  <div class="d-flex gap-3 mb-lg-3 mb-2">
                     <div>
                        <i class="bi bi-geo-alt-fill"></i>
                     </div>
                     <div>
                        Gran Rubina Business Park (Lantai 21.E) Jl. Epicentrum
                        Utama Raya, RT.1/RW.5, Karet
                        Kuningan, Kecamatan Setiabudi, Kota Jakarta Selatan,
                        Jakarta, Daerah Khusus Ibukota
                        Jakarta 12940
                     </div>
                  </div>
                  <div class="d-flex gap-3 mb-lg-3 mb-2">
                     <div>
                        <i class="bi bi-whatsapp"></i>
                     </div>
                     <div>
                        +62 821 2035 8034 | Admin Jakarta
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col col-12 col-lg-6">
            <div class="swiper swiperTwocol">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <img data-src="/images/offices/jkt/1.jpg" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/jkt/2.jpg" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="masthead__container py-lg-5 py-4"
   style="background-color: #fcfcfc;">
   <div class="container">
      <div class="row mb-lg-4 mb-3">
         <h2 class="fw-bold">Branch Office</h2>
         <p>Payung Madinah Bandung</p>
      </div>
      <div class="row mb-lg-4 mb-3">
         <div class="col col-12 col-lg-6 mb-lg-0 mb-3">
            <div class="swiper swiperTwocol">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/1.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/2.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/3.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/4.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/5.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/6.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/7.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/8.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/9.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/10.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/bdg/11.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </div>
         <div class="col col-12 col-lg-6">
            <iframe class="mb-lg-4 mb-3" data-aos="fade" data-aos-delay="0"
               data-aos-duration="1500"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.4189590492792!2d107.69550157592973!3d-6.959804768143785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c3d573648879%3A0x20719b565a9da92!2sPayung%20Madinah%20Tour%20-%20Office%20Bandung!5e0!3m2!1sen!2sid!4v1747954342114!5m2!1sen!2sid"
               width="100%" height="300" style="border:0;" allowfullscreen
               loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="row">
               <div class="col col-12">
                  <div class="d-flex gap-3 mb-lg-3 mb-2">
                     <div>
                        <i class="bi bi-geo-alt-fill"></i>
                     </div>
                     <div>
                        Ruko Topaz Commercial, Summarecon, Jl. Boulevard
                        (Bulevard) Selatan Blok TC/002, Kota Bandung,
                        Jawa Barat 40295.
                     </div>
                  </div>
                  <div class="d-flex gap-3 mb-lg-3 mb-2">
                     <div>
                        <i class="bi bi-whatsapp"></i>
                     </div>
                     <div>
                        +62 882 7669 1843 | Admin Bandung
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="masthead__container py-lg-5 py-4 mb-lg-5 mb-3">
   <div class="container mb-lg-5 mb-5">
      <div class="row mb-lg-4 mb-3">
         <h2 class="fw-bold">Branch Office</h2>
         <p>Payung Madinah Palembang</p>
      </div>
      <div class="row mb-lg-4 mb-3">
         <div class="col col-12 col-lg-6 mb-lg-0 mb-3">
            <iframe class="mb-lg-4 mb-3" data-aos="fade" data-aos-delay="0"
               data-aos-duration="1500"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6031480607426!2d104.67925447547049!3d-2.9298319970464792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e3b75c126ace9c9%3A0x1562f8fcc1540db2!2sPayung%20Madinah%20Tour%20-%20Office%20Palembang!5e0!3m2!1sen!2sid!4v1747795424906!5m2!1sen!2sid"
               width="100%" height="300" style="border:0;border-radius:8px;"
               allowfullscreen loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="row">
               <div class="col col-12">
                  <div class="d-flex gap-3 mb-lg-3 mb-2">
                     <div>
                        <i class="bi bi-geo-alt-fill"></i>
                     </div>
                     <div>
                        Citra Grand City No B8/16. Kec. Alang-Alang Lebar Kota
                        Palembang, Sumatera Selatan.
                     </div>
                  </div>
                  <div class="d-flex gap-3 mb-lg-3 mb-2">
                     <div>
                        <i class="bi bi-whatsapp"></i>
                     </div>
                     <div>
                        +62 882 7669 1839 | Admin Palembang
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col col-12 col-lg-6">
            <div class="swiper swiperTwocol">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/1.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/2.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/3.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/4.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/5.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/6.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/7.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/8.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/9.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/10.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/11.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/12.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/13.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
                  <div class="swiper-slide">
                     <img data-src="/images/offices/plg/14.png" alt="Images"
                        width="100%" class="lazyload" data-aos="fade"
                        data-aos-delay="0" data-aos-duration="1500" />
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </div>
      </div>
   </div>
</section>

{{> components/footer}}