<div class="masthead__background2"></div>
<section class="masthead__container">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col col-12 col-md-12 text-center mt-5">
            <div class="mb-3">
               <a href="/" target="_self">
                  <img loading="lazy" src="/images/logo-main.svg" width="127.5" height="34.714" alt="Payung Madinah website" />
               </a>
            </div>
            <p class="mb-lg-5 mb-3" width="40%">Hello Visitors, Thak you for visiting our page. Let grow together.</p>
            <div class="masthead__link mb-3 text-center">
               <a href="https://payungmadinah.id" target="_blank" class="bt orange fixwidth">Official Site/ Payung Madinah.com</a>
            </div>
            <div class="masthead__link mb-3 text-center">
               <a href="https://www.facebook.com/profile.php?id=100087192475034" target="_blank"
                  class="bt blue fixwidth">Facebook</a>
            </div>
            <div class="masthead__link mb-3  text-center">
               <a href="https://www.instagram.com/Payung Madinah/" target="_blank" class="bt blue fixwidth">Instagram</a>
            </div>
            <div class="masthead__link text-center">
               <a href="https://www.behance.net/ridwanzal" target="_blank" class="bt blue fixwidth">Behance</a>
            </div>
         </div>
         <div class="mt-4 text-center">
            <small class="content__text">Copyright &copy 2021 - 2022. All rights reserved</small>
         </div>
      </div>
   </div>
</section>