{{> components/navigation}}

<section class="masthead__container">
   <div class="container">
      <div class="row">
         {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
      <div class="row mb-5 pb-5">
         <div class="col col-12 col-md-7 mb-4">
            <h2 class="head__text--title mb-3 pb-3" data-aos="fade">
               Projects
            </h2>
            <h4>
               2023
            </h4>
            <ul class="context__text">
               {{!-- <li>PT KAI Balai Yasa Lahat <br/> --}}
               {{!-- Sistem Simulasi Perencanaan dan Pengendalian --}}
               </li>
               <li>PT GED Garuda Express Delivery</li>
            </ul>
            <h4>2021 - 2022</h4>
            <ul class="content__text">
               <li>PT. BPW Proconfo</li>
               <li>PT Sinas Bulan Purnama</li>
               {{!-- <li>PT KAI Balai Yasa Lahat - MRP Core system (confidential)</li> --}}
               <li>CBT (Computer Based Test) Mahad Aly An-Nuaimy Jakarta Selatan (confidential)</li>
               <li>Ezkop Product Design Web & Mobile</li>
               <li>Ezkop Web & Mobile Development platform</li>
               <li>Virtual Expo platform for m2 (https://m2.imeet.id/)</li>
               <li>Resiku - Cek resi dan ongkir (Mobile web app platform)</li>
               <li>Virtual Exhibition platform for m2</li>
               <li>SIKAV - Sistem Kalkulator Inovasi RISTEK BRIN (dead)</li>
               <li>SITAMPAN - All in one security web tools (dead)</li>
               <li>Dashboard UNSRI (dead)</li>
               <li>Satu data UNSRI API Gateway (dead)</li>
               <li>Universitas Binawan Revamp (https://binawan.ac.id/)</li>
            </ul>
            <h4>2020</h4>
            <ul class="content__text">
               <li>Universitas Binawan (dead)</li>
               <li>Sistem Pencatatan Cuti (confidential)</li>
               <li>BPU Unsri (collaboration with AdityaDees)</li>
               <li>Maximus Hotel Palembang (Reservation system)</li>
               <li>Marco Digital Partner Landing page (https://marcodigitalpartner.com/)</li>
               <li>Alisha Marsya (https://www.alishamarsya.com/)</li>
               <li>Scafol Mobile App (dead)</li>
            </ul>
            <h4>2019-2020</h4>
            <ul class="content__text">
               <li>Rumah Sakit Ar-Rasyid Palembang (https://rsarrasyid.id/)</li>
               <li>Web PUBM Sumsel (dead)</li>
               <li>IDD Web - TIS Network (dead)</li>
               <li>Sistem pendukung simulasi pembelian rumah berbasis syariah (confidential)</li>
               <li>Sistem deteksi dini pencegahan phising (phising-live-detector)</li>
            </ul>
         </div>
         <div class="col col-12 col-lg-4 col-md-6">
            {{> components/pricelanding}}
         </div>
      </div>
   </div>
</section>
{{> components/footer}}