{{> components/navigation}}

<section class="masthead__container">
   <div class="container">
      <div class="row">
         {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
      <div class="row mb-3 pb-5 text-center">
         <div class="col col-12 col-md-12 mb-12">
            <img class="img-fluid lazyload" data-src="/images/banner-wordpress.webp"
               alt="Bangun landing page impianmu" />
         </div>
      </div>
      <div class="row justify-content-center mt-2 pt-2">
         <div class="col col-12 col-md-8">
            <h2 class="head__text--title mb-3 pb-3 text-center" data-aos="fade">
               Effortlessly Build Your Website with a WordPress-Based CMS
            </h2>
            <p class="content__text text-center ps-md-5 pe-md-5 mb-5">
               Create a professional website with ease using our WordPress-based CMS solutions. Enjoy a user-friendly
               interface, customizable design, and robust functionality to meet your needs.
            </p>
         </div>
      </div>
      {{> components/listwebadds}}
      <div class="row justify-content-center mt-2">
         <div class="col col-12 col-md-5 mb-4">
            {{> components/pricewordpress withprice='ok'}}
         </div>
      </div>
   </div>
</section>
{{> components/footer}}