{{> components/navigation}}

<section class="masthead__container">
   <div class="container">
      <div class="row">
         {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
      <div class="row mb-3 pb-5 text-center">
         <div class="col col-12 col-md-12 mb-12">
            <img class="img-fluid lazyload" data-src="/images/banner-uiux.webp" alt="Bangun landing page impianmu" />
         </div>
      </div>
      <div class="row justify-content-center mt-2 pt-2">
         <div class="col col-12 col-md-8">
            <h2 class="head__text--title mb-3 pb-3 text-center" data-aos="fade">
               UI/UX Design Web dan Mobile
            </h2>
            <p class="content__text text-center ps-md-5 pe-md-5 mb-5">
               Our UI/UX design services assist companies in creating intuitive and visually appealing websites and applications, as
               well as providing an optimal user experience. Our team of experienced designers will work with you to understand your
               goals and target audience, and will use this information to design an interface that is accessible, aesthetically
               pleasing and effective in achieving the desired result. Whether you need to design a new website from scratch or revise
               an existing site,
               we have the skills and expertise needed to help you create great user experiences and get conversions from your
               visitors.
            </p>
         </div>
      </div>
      <div class="row justify-content-center mt-2">
         <div class="col col-12 col-md-5 mb-4">
            {{> components/pricecustom withprice='ok'}}
         </div>
      </div>
   </div>
</section>
{{> components/footer}}