{{> components/navigation}}

<section class="masthead__container">
   <div class="container">
      <div class="row">
         {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
      <div class="row mb-3 pb-5 text-center">
         <div class="col col-12 col-md-12 mb-12">
            <img class="img-fluid lazyload" data-src="/images/banner-business.webp"
               alt="Bangun landing page impianmu" />
         </div>
      </div>
      <div class="row justify-content-center mt-2 pt-2">
         <div class="col col-12 col-md-8">
            <h2 class="head__text--title mb-3 pb-3 text-center" data-aos="fade">
               Business Website
            </h2>
            <p class="content__text text-center ps-md-5 pe-md-5 mb-5">
               At Payung Madinah, we guide you through every step of creating a business website tailored to your needs. From initial requirements analysis and product design to coding, testing, and deployment, we ensure a comprehensive approach. With extensive experience across diverse industries, we deliver optimal solutions and expertly crafted digital products
            </p>
         </div>
      </div>
      {{> components/listwebadds}}
      <div class="row justify-content-center mt-2">
         <div class="col col-12 col-md-5 mb-4">
            {{> components/pricebusiness withprice='ok'}}
         </div>
      </div>
   </div>
</section>
{{> components/footer}}