{{> components/navigation}}

<section class="masthead__container">
   <div class="container">
      <div class="row">
         {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
      <div class="row justify-content-center mt-2 pt-2">
         <div class="col col-12 col-md-12 mb-4">
            <h2 class="head__text--title mb-3 pb-3 text-center" data-aos="fade">
               Services
            </h2>
            <p class="content__text text-center ps-md-5 pe-md-5">
            Payung Madinah is a platform that provides website development services for various purposes, including personal,
            B2B, B2C, startup, commerce, local business and more. Apart from that, we also provide other main services such as
            UI/UX design, logo/branding kits, web slicing, and mobile app development, with a focus on the Javascript ecosystem.
            We are highly skilled in using the latest and leading technologies to create high-quality digital solutions for your
            business.
            </p>
         </div>
      </div>
      {{> components/listofservice2}}
      {{> components/clients}}
   </div>
</section>
{{> components/footer}}