{{> components/navigation}}
<section class="masthead__container">
  <div class="container">
    <div class="row jusify-content-center">
      <div class="col col-12 col-lg-9 mb-lg-4 mb-1">
        {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-12 col-lg-6 order-2 order-lg-2 position-relative">
        <div class="detail-header center-vertical" style>
          <h1 class="text-dark fs-2">Terhubung Lebih Dekat<br />
            Bersama Payung Madinah</h1>
          <p class="mb-lg-5 mb-3 text-dark">Ikuti perjalanan, informasi, dan
            inspirasi spiritual terbaru<br />
            langsung dari sosial media resmi kami.</p>
          <div class="d-flex gap-3">
            <a class="bt block-mobile orange text-black mb-0 mb-lg-2"
              href="http://linktr.ee/payungmadinahtour"
              target="_blank"><i
                class="bi bi-whatsapp me-2"></i>Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-6 order-1 order-lg-1">
        <div data-aos="fade" data-aos-duration="1500" data-aos-delay="30">
          <img loading="lazy" src="/images/socials/sosial1.png" class="w-100"
            alt="Karir Payung Madinah" />
        </div>
      </div>
    </div>
  </section>

  <section class="section__container section__container--color"
    style="background-color: #fcfcfc;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-12 col-lg-10 order-1 order-lg-1">
          <div data-aos="fade" data-aos-duration="1500" data-aos-delay="30">
            <img loading="lazy" src="/images/socials/social2.png" class="w-100"
              alt="Karir Payung Madinah" />
          </div>
          <div class="bt-grouping--container text-center">
            <a class="bt-grouping"
              href="https://www.instagram.com/payungmadinah/?hl=en"
              target="_blank">
              <span class="bcolor">Kunjungi Instagram Kami</span>
              <span class="bwhite">@payungmadinah</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container section__container--color">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-12 col-lg-6 order-2 order-lg-2 position-relative">
            <div class="detail-header center-vertical">
              <h1 class="text-dark fs-2">Follow TikTok Payung
                Madinah<br />—Lebih dari
                Sekadar Travel!</h1>
              <p class="mb-lg-5 mb-3 text-dark">Cerita tim lapangan, testimoni
                jamaah, konten
                edukasi Islami<br />, dan vibes positif setiap hari. Yuk,
                follow dan jadikan FYP <br />kamu lebih berkah!.</p>
              <div class="bt-grouping--container">
                <a class="bt-grouping"
                  href="https://www.tiktok.com/@payungmadinah?lang=en"
                  target="_blank">
                  <span class="bcolor">Kunjungi Tiktok Kami</span>
                  <span class="bwhite">@payungmadinah</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-6 order-1 order-lg-1">
            <div data-aos="fade" data-aos-duration="1500" data-aos-delay="30">
              <img loading="lazy" src="/images/socials/sosial3.png" class="w-100"
                alt="Karir Payung Madinah" />
            </div>
          </div>
        </div>
      </section>

      <section class="section__container section__container--color"
        style="background-color: #fff;margin-bottom:120px;">
        <div class="container">
          <div class="row justify-content-center mb-lg-5 mb-4">
            <div class="col col-lg-6 col-12">
              <h2 class="fw-bold text-center color-orange">Temukan Payung
                Madinah di Berbagai Platform Digital</h2>
            </div>
          </div>
          <div class="swiper swiperProduct">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img loading="lazy" src="/images/socials/1.png" alt="Payung Madinah di Google"
                  class="w-100 d-block" />
                <br />
                <a class="bt-grouping"
                  href="https://www.tiktok.com/@payungmadinah?lang=en"
                  target="_blank" style="padding-left: 18px;">
                  <span class="bcolor">Facebook</span>
                  <span class="bwhite">@payungmadinah</span>
                </a>
              </div>
              <div class="swiper-slide">
                <img loading="lazy" src="/images/socials/2.png" alt="Payung Madinah di Google"
                  class="w-100" />
                <a class="bt-grouping"
                  href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all"
                  target="_blank" style="padding-left: 18px;">
                  <span class="bcolor">Linkedin</span>
                  <span class="bwhite">@payungmadinah</span>
                </a>
              </div>
              <div class="swiper-slide">
                <img loading="lazy" src="/images/socials/3.png" alt="Payung Madinah di Google"
                  class="w-100" />
                <a class="bt-grouping"
                  href="https://www.threads.com/@payungmadinah"
                  target="_blank" style="padding-left: 18px;">
                  <span class="bcolor">Threads</span>
                  <span class="bwhite">@payungmadinah</span>
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="section__container section__container--color"
          style="background-color: #f1f1f1;border-top:1px solid #ddd;">
          <div class="container">
            <div class="row justify-content-center mb-lg-5 mb-4">
              <div class="col col-lg-6 col-12 mb-lg-2 mb-4">
                <iframe class="w-100" height="350"
                  style="border-radius:8px;margin-right:8px"
                  src="https://www.youtube.com/embed/1Czf7MKvaH0?si=VZIasqPl2oo-XxVg"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
              </div>
              <div class="col col-lg-6 col-12 position-relative">
                <div class="center-vertical">
                  <h1 class="fw-bold fs-3 mb-lg-4 mb-3">
                    Channel YouTube
                    Terpercaya untuk Anda yang
                    Siap Menunaikan Ibadah
                  </h1>
                  <p class="mb-lg-4 mb-3">Melalui Channel YouTube resmi
                    Payung Madinah, kami
                    menghadirkan berbagai video
                    inspiratif seputar perjalanan umroh
                    dan haji, mulai dari kisah nyata
                    para jamaah, tips ibadah, edukasi
                    persiapan spiritual, hingga
                    dokumentasi eksklusif dari Tanah
                    Suci.</p>
                  <div class="bt-grouping--container">
                    <a class="bt-grouping"
                      href="https://www.youtube.com/@PayungMadinah"
                      target="_blank">
                      <span class="bcolor">Subscribe Youtube Kami</span>
                      <span class="bwhite">@payungmadinah</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        {{> components/footer}}