{{> components/navigation}}


<section class="masthead__container">
   <div class="container">
      <div class="row">
         {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
      <div class="row mb-5 pb-5 justify-content-center">
         <div class="col col-12 col-md-7 mb-4">
            <h2 class="head__text--title mb-3 pb-3" data-aos="fade">
               Syarat dan Ketentuan
            </h2>
            <p class="content__text">
               Payung Madinah Tour & Travel adalah biro perjalanan ibadah yang bergerak di bidang Umroh dan Haji. 
               Sebagai spesialis umroh plus dengan pengalaman memberangkatkan lebih dari 1500++ jamaah 
               Kami menawarkan beragam paket umroh eksklusif yang dipadukan dengan wisata religi ke destinasi bersejarah seperti Turki, Dubai, dan Thaif — menghadirkan pengalaman ibadah yang tak hanya sah secara syariat, tapi juga berkesan secara emosional dan spiritual.
               Dengan legalitas resmi dari Kementerian Agama serta didukung tim profesional dan pembimbing ibadah lulusan Madinah dan Timur Tengah, kami memastikan setiap perjalanan berlangsung aman, nyaman, dan sesuai tuntunan. Mulai dari proses pendaftaran, manasik, hingga pendampingan selama di Tanah Suci, semuanya dikemas secara profesional dan penuh perhatian.
               Payung Madinah telah hadir di tiga kota besar dan akan segera menyapa kota Anda. Komitmen kami adalah menjadi sahabat ibadah terbaik bagi para jamaah di seluruh Indonesia — dengan layanan premium, fasilitas unggulan, dan pendekatan yang personal.
               Kami percaya bahwa ibadah yang khusyuk dimulai dari perjalanan yang berkualitas. Maka dari itu, kami tidak hanya mengantarkan jamaah ke Tanah Suci, tapi juga menyiapkan team profesional dalam setiap perjalanan bersama Payung Madinah 
               Ibadah Nyaman di Bawah Naungan Payung Madinah
            </p>
            <h5 class="fw-bold">Ketentuan</h5>
            <p>
               <ul>
                  <li>
                     Paspor yang masih berlaku minimal satu tahun saat akan berangkat dan nama di paspor minimal dua suku kata.
                  </li>
                  <li>
                     Pasfoto 3x6 sebanyak 4 lembar (cetak dan softcopy).
                  </li>
                  <li>
                     Fotokopi surat nikah bagi suami dan istri.
                  </li>
                  <li>
                     Fotokopi KK bagi anak yang berangkat bersama orang tua.
                  </li>
                  <li>
                     Buku kuning suntik meningitis asli.
                  </li>
                  <li>
                     DP Rp10.000.000.
                  </li>
                  <li>
                     Harga dan program sewaktu-waktu bisa berubah sesuai regulasi Arab Saudi dan Indonesia.
                  </li>
                  <li>
                     * Pendaftaran baru dan batas pelunasan paling lambat 1 Bulan sebelum keberangkatan. 
                  </li>
               </ul>
            </p>

            <h5 class="fw-bold">Harga Belum Termasuk</h5>
            <p>
               <ul>
                  <li>
                     Pembuatan paspor dan suntik meningitis.
                  </li>
                  <li>
                     Biaya kelebihan bagasi.
                  </li>
                  <li>
                     Pengeluaran pribadi.
                  </li>
                  <li>
                     Program tambahan di luar paket
                  </li>
               </ul>
            </p>

            <h5 class="fw-bold">Keterangan</h5>
            <p>
               <ul>
                  <li>
                     Tanggal dan itinerary bersifat tentative dan dapat berubah sewaktu-waktu
                  </li>
                  <li>
                     DP Rp 10.000.000,-
                  </li>
                  <li>
                     Apabila terjadi pembatalan secara sepihak, pengembalian dana (refund) akan mengikuti syarat dan ketentuan yang berlaku.
                  </li>
                  <li>
                     Harga dapat berubah mengikuti kebijakan pemerintah, hotel, maskapai
                  </li>
                  <li>
                     Jumlah tempat tidur untuk tipe quad, triple, dan double akan disesuaikan berdasarkan ketersediaan yang dimiliki oleh pihak hotel
                  </li>
                  <li>
                     * Jika sudah melakukan pembayaran maka dana tidak bisa dikembaikan 100%
                  </li>
               </ul>
            </p>

            <h5 class="fw-bold">Starting Jakarta</h5>
            <p>
               <ul>
                  <li>
                     Bisa Start dari Seluruh Indonesia Add ON Include Hotel 1x (Handling Tiket PP Wilayah - Jakarta)
                  </li>
                  <li>
                     * Harga dan Jadwal dapat Berubah Mengikuti Regulasi Kebijakan Saudi dan Airlines
                  </li>
            </p>

         </div>
      </div>
   </div>
</section>
{{> components/footer}}