{{> components/navigation}}
<div class="submasthead">
  <img loading="lazy" src="/images/blogs/thumb.png" alt="Visa" />
</div>
<section class="masthead__container">
  <div class="container">
    <div class="row jusify-content-center">
      <div class="col col-12 col-lg-9 mb-lg-4 mb-1">
        {{> components/breadcrumb breadcrumbs=breadcrumbs class="black"}}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-12 col-lg-9">
        <div class="detail-header">
          <h1>Permudah Proses Pengajuan Visa dengan Payung Madinah</h1>
          <p class="mb-lg-5 mb-3">Visa Lebih Mudah, Perjalanan Lebih Nyaman bersama Payung
            Madinah</p>
          <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
            href="http://linktr.ee/payungmadinahtour" target="_blank"><i
              class="bi bi-whatsapp me-2"></i>Konsultasi Gratis</a>
        </div>
      </div>
      <div class="col col-12 col-lg-9 mt-lg-5 pt-lg-5 mb-3 d-none d-lg-block">
        <div class="col col-12 col-lg-9">
          <h5 class="fw-bold text-black">Pilih Visa Anda</h5>
          <p class="fw-bold text-black">Pilih Visa yang sesuai dengan kebutuhan anda</p>
        </div>
      </div>
      <div class="col col-12 col-lg-10">

        <!-- list visa -->
        <div class="row">
          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Mandiri</h6>
                    <div class="text-muted">Visa Umroh Saudi Arabia</div>
                  </div>
                  <div class="col col-4">
                    <span class="badge bg-secondary">90 days</span>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $200
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Only Visa, Single Entry</span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Apply Visa Mandiri Sebulan sebelum Keberangkatan
                        <span class="text-muted d-block">Agar setelah Aplly bisa
                          fokus mencari hotel dan tiket yg murah</span>
                      </span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Proses Hanya 2 - 3 Hari</span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Include SISKOPATUH
                        <span class="text-muted d-block">*Harga Naik Turun
                          Tergantung kurs yg ada</span>
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

           <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Mandiri</h6>
                    <div class="text-muted">Visa Umroh </div>
                  </div>
                  <div class="col col-4">
                    <span class="badge bg-secondary">90 days</span>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $175
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Only Visa, Single Entry</span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Apply Visa Mandiri Sebulan sebelum Keberangkatan
                        <span class="text-muted d-block">Agar setelah Aplly bisa
                          fokus mencari hotel dan tiket yg murah</span>
                      </span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Proses Hanya 2 - 3 Hari</span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Group (Min 25 Pax)</h6>
                    <div class="text-muted">Visa Umroh Saudi Arabia</div>
                  </div>
                  <div class="col col-4">
                    <span class="badge bg-secondary">90 days</span>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $165
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Tasreh Raudha
                        <span class="text-muted d-block">*Bila Kurang dari 35 Pax Harga Menyesuaikan</span>
                      </span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Apply Visa Mandiri Sebulan sebelum Keberangkatan
                        <span class="text-muted d-block">All in Ziarah Mekkah, Ziarah Madinah Pengataran Pulang dan Lain-Lain</span>
                      </span>
                    </li>
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>BRN</span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Haji Furoda</h6>
                    <div class="text-muted">Visa Haji Furoda 2025</div>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $11000
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>(Visa Incloud Masyair)
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Only Visa Haji</h6>
                    <div class="text-muted">Visa Haji Furoda 2025</div>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $8500
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Only Visa
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Ziarah Syakhsiah</h6>
                    <div class="text-muted">Visa Ziarah Syakhsiah</div>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $8500
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Durasi Menetap 1 Tahun di Saudi
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Tourist / Siyahah</h6>
                    <div class="text-muted">Visa Tourist</div>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $600
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Multiple 1 Tahun
                        <span class="text-muted d-block">Bisa Bolak balik di Saudi Arabia selama setahun Max tinggal 90 hari</span>
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Khusus UEA</h6>
                    <div class="text-muted">Visa Touris Dubai</div>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $210
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Only Visa
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->

          <!-- item -->
          <div class="col col-12 col-lg-4 col-md-6">
            <div class="card card-post card-white mb-lg-4 mb-4 js-match-height">
              <div class="card-body">
                <div class="row">
                  <div class="col col-8">
                    <h6 class="mb-0 fw-bold">Visa Australia</h6>
                    <div class="text-muted">Durasi kerja 17 hari</div>
                  </div>
                </div>
                <div class="text-center fw-bold fs-2">
                  $200
                </div>
                <hr class="text-muted" />
                <div>
                  <ul style="list-style: none;padding-left:0px;">
                    <li class="d-flex gap-1">
                      <i class="bi bi-check text-success"></i>
                      <span>Multiple 3 Tahun
                        <span class="text-muted d-block">Setiap 3 bulan keluar dan kembali lagi ke Australia</span>
                      </span>
                    </li>
                  </ul>
                  <div class="text-center mb-3 mt-2">
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour" target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end item -->
        </div>
        <!-- end list visa -->


        <!-- card ack -->
        <div class="row">
          <div class="col col-12 col-lg-4">
            
          </div>
        </div>
        <!-- end card ack -->
      </div>
    </div>
  </div>
</section>
{{> components/footer}}