.bt {
	border: none;
	font-size: 0.9rem;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
	outline: none;
	font-weight: 400;
	letter-spacing: 0.95;
	text-decoration: none;
	color: black;
	text-decoration: none !important;
	transition: 0.3s all ease;

	&:hover,
	&:active,
	&:focus {
		outline: none;
		text-decoration: none !important;
	}

	&__big {
		padding: 24 32px;
	}

	&.white {
		background: white;
		color: black;

		&:hover {
			opacity: 0.9;
		}
	}

	&.blue {
		background: $orange;
		color: white;

		&:hover {
			opacity: 0.9;
		}
	}

	&.fixwidth {
		display: block;
		width: 25%;
		margin: 0 auto;

		@media #{$media-screen-mobile} {
			width: 100%;
		}
	}

	&.orange {
		background: $orange;
		color: white;

		&:hover {
			opacity: 0.9;
		}

		&.outline {
			background-color: white;
			border: 1px solid $orange;
			color: $orange !important;
		}
	}

	&.black {
		background: black;
		color: white !important;

		&:hover {
			opacity: 0.9;
		}
	}

	&:not(:first-of-type) {
		margin-left: 5px;
	}

	&.block {
		&-mobile {
			@media #{$media-screen-mobile} {
				display: block;
				width: 100%;
				text-align: center;
				margin-bottom: 12px;

				&:not(:first-of-type) {
					margin-left: 0;
				}
			}
		}

		&-desktop {
			display: block;
			text-align: center;
			width: 100%;
			margin-bottom: 8px;

			&:not(:first-of-type) {
				margin-left: 0;
			}
		}
	}
}

.bt-grouping {
	text-decoration: none !important;
	color: inherit !important;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none !important;
		color: inherit !important;
	}

	span {
		&:hover,
		&:focus,
		&:active {
			text-decoration: none !important;
			color: inherit !important;
		}
	}

	&--container {
		padding-top: 50px;
		padding-bottom: 50px;

		@media #{$media-not-desktop} {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	.bcolor {
		background-color: #b19167;
		color: white;
		border-radius: 50px;
		padding: 8px 16px;
		border: 2px solid #b19167;

		@media #{$media-not-desktop} {
			font-size: 11px;
		}
	}
	.bwhite {
		border: 2px solid #b19167;
		color: #444;
		border-radius: 50px;
		padding: 8px 16px 8px 40px;
		position: relative;
		left: -38px;
		font-weight: bold;
		@media #{$media-not-desktop} {
			font-size: 11px;
		}
	}
}

.btx {
	color: #323232 !important;
	background-color: #e9e9e9 !important;
	border-radius: #e1e1e1;
	padding: 8px 16px;
	border-radius: 50px;
}
