<div class="swiper-slide">
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-5">
      <div class="text-start">
        <h2 class="text-start color-orange fs-2 fw-bold">Anggun Fania</h2>
        <p class="fs-14 mb-2 fw-bold">Admin</p>
        <p class="mb-5 mb-lg-4" style="font-size:12px;">Selama bekerja di Payung Madinah, saya mendapatkan pengalaman
          yang sangat berharga. Lingkungan kerja yang positif dengan tim yang mendukung menciptakan suasana yang nyaman.
          Perusahaan memberikan pelatihan komprehensif yang membantu saya memahami prosedur umroh dan layanan pelanggan.
          <br />
          <br />
          Fokus pada pelayanan pelanggan sangat terasa, dan saya merasa bangga bisa memberikan pengalaman memuaskan bagi
          jamaah. Selain itu, saya memiliki kesempatan untuk belajar banyak tentang budaya dan tradisi Islam melalui
          interaksi dengan jamaah dari berbagai latar belakang.
          <br />
          <br />
          Manajemen di Payung Madinah sangat terbuka dan komunikatif, selalu mendengarkan masukan dari karyawan. Saya
          merasa dihargai dan termotivasi untuk memberikan yang terbaik. Bekerja di sini memberikan makna yang lebih
          dalam, karena saya dapat berkontribusi dalam membantu jamaah menjalankan ibadah umroh.
          <br />
          <br />
          Secara keseluruhan, pengalaman saya di Payung Madinah sangat memuaskan, dan saya merekomendasikannya sebagai
          tempat kerja.
        </p>
        <div class="text-md-start">
          <div class="d-flex mt-lg-0 mt-3">
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-linkedin me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-instagram me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-facebook me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-tiktok me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Youtube link" target="_blank" href="https://www.youtube.com/@PayungMadinah">
              <i class="bi bi-youtube me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <img loading="lazy" src="/images/members/Anggun - Admin CS.png" class="w-100" />
    </div>
  </div>
</div>