<div class="swiper-slide">
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-5">
      <div class="text-start">
        <h2 class="text-start color-orange fs-2 fw-bold">Reza Mahendra 
        </h2>
        <p class="fs-14 mb-2 fw-bold">Chief Marketing Officer</p>
        <p class="mb-5 mb-lg-4" style="font-size:12px;">Sebagai CMO di Payung Madinah, tugas utama saya adalah
          memastikan setiap ikhtiar marketing kami benar-benar mendatangkan manfaat nyata bagi jamaah dan perusahaan.
          Saya terlibat langsung dalam menyusun strategi iklan (terutama untuk program Umroh Plus Turki, Dubai, dan
          Thaif), memantau performa admin dalam menanggapi prospek, serta membangun sistem monitoring terpusat melalui
          Google Spreadsheet dan CRM. Kami juga menerapkan sistem tagging jamaah dan follow-up yang terstruktur, agar
          setiap calon jamaah benar-benar mendapatkan pelayanan yang tepat dan personal. Saya bangga bisa menjadi bagian
          dari tim yang tidak hanya bekerja untuk angka, tapi juga untuk keberkahan dan kepuasan jamaah.

        </p>
        <div class="text-md-start">
          <div class="d-flex mt-lg-0 mt-3">
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-linkedin me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-instagram me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-facebook me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-tiktok me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Youtube link" target="_blank" href="https://www.youtube.com/@PayungMadinah">
              <i class="bi bi-youtube me-3" style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <img loading="lazy" src="images/members/Reza - CMO.png" class="w-100" />
    </div>
  </div>
</div>