        <div class="swiper-slide">
          <div class="row justify-content-center">
            <div class="col col-12 col-lg-5">
              <div class="text-start">
                <h2 class="text-start color-orange fs-2 fw-bold">Ria Anggraini</h2>
                <p class="fs-14 mb-2 fw-bold">Staf Operasional</p>
                <p class="mb-5 mb-lg-4" style="font-size:12px;">Bekerja di
                  Payung Madinah merupakan
                  pengalaman yang sangat berharga bagi saya. Sebagai travel
                  umroh dan haji spesialis plus, perusahaan ini tidak hanya
                  fokus pada pelayanan ibadah yang berkualitas, tetapi juga
                  memiliki tim yang solid dan saling mendukung. Setiap hari saya
                  merasa termotivasi karena dikelilingi oleh orang-orang yang
                  profesional, berdedikasi, dan memiliki semangat tinggi dalam
                  memberikan layanan terbaik untuk para jamaah. Lingkungan kerja
                  yang hangat dan penuh kekeluargaan membuat saya semakin yakin
                  bahwa Payung Madinah adalah tempat terbaik untuk berkembang,
                  belajar, dan berkontribusi dalam dunia pelayanan ibadah.

                </p>
                <div class="text-md-start">
                  <div class="d-flex mt-lg-0 mt-3">
                    <a aria-label="Linkedin link" target="_blank"
                      href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
                      <i class="bi bi-linkedin me-3"
                        style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
                    </a>
                    <a aria-label="Linkedin link" target="_blank"
                      href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
                      <i class="bi bi-instagram me-3"
                        style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
                    </a>
                    <a aria-label="Linkedin link" target="_blank"
                      href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
                      <i class="bi bi-facebook me-3"
                        style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
                    </a>
                    <a aria-label="Linkedin link" target="_blank"
                      href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
                      <i class="bi bi-tiktok me-3"
                        style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
                    </a>
                    <a aria-label="Youtube link" target="_blank"
                      href="https://www.youtube.com/@PayungMadinah">
                      <i class="bi bi-youtube me-3"
                        style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-12 col-lg-4">
              <img loading="lazy" src="/images/members/Ria Anggraini - Staff Operasional.png"
                class="w-100" />
            </div>
          </div>
        </div>