 <div class="swiper-slide">
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-5">
      <div class="text-start">
        <h2 class="text-start color-orange fs-2 fw-bold">Wisnu
          Juliansyah</h2>
        <p class="fs-14 mb-2 fw-bold">Staf Operasional</p>
        <p class="mb-5 mb-lg-4" style="font-size:12px;">Bekerja di
          Merasa tenang dan nyaman dalam bekerja, terlebih lagi owner yang
          memimpin perusahaan ini amanah dan humble.
          selain kita mendapatkan hal duniawi disini juga kita bisa dapat hal
          positif untuk akhirat, serta circle / rekan-rekan yang senantiasa
          mengingatkan kita dalam hal kebaikan
          semoga Allah senantiasa menjaga keberkahan di perusahaan ini. aamiin
        </p>
        <div class="text-md-start">
          <div class="d-flex mt-lg-0 mt-3">
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-linkedin me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-instagram me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-facebook me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-tiktok me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Youtube link" target="_blank"
              href="https://www.youtube.com/@PayungMadinah">
              <i class="bi bi-youtube me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <img loading="lazy" src="/images/members/Wisnu - Operasional.png"
        class="w-100" />
    </div>
  </div>
</div>