 <div class="swiper-slide">
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-5">
      <div class="text-start">
        <h2 class="text-start color-orange fs-2 fw-bold">Zamrotin Nur
          Pratiwi</h2>
        <p class="fs-14 mb-2 fw-bold">Finance</p>
        <p class="mb-5 mb-lg-4" style="font-size:12px;">Bekerja di Payung
          Madinah merupakan pengalaman kerja yang sangat berharga dan penuh
          makna dalam karir saya di industri travel umroh. Saya dapat belajar
          tentang manajemen perjalanan umroh, serta meningkatkan kemampuan saya
          dalam melayani jemaah dengan baik. Setiap hari, saya memiliki
          kesempatan untuk membantu jemaah umroh menjalankan ibadah dengan
          lancar dan nyaman, serta memberikan mereka pengalaman yang tak
          terlupakan di Tanah Suci. Saya sangat bersyukur dapat menjadi bagian
          dari tim yang berdedikasi dan profesional dalam melayani jemaah, dan
          saya yakin bahwa pengalaman ini akan membantu saya tumbuh dan
          berkembang dalam karir saya di industri travel umroh. Selain itu, saya
          juga dapat memperluas jaringan dan membangun hubungan yang baik dengan
          rekan-rekan kerja, sehingga saya dapat meningkatkan kemampuan saya
          dalam bekerja sama dan berkomunikasi efektif. Dengan demikian, saya
          dapat memberikan kontribusi yang lebih besar bagi perusahaan dan
          meningkatkan kualitas pelayanan kepada jemaah.

        </p>
        <div class="text-md-start">
          <div class="d-flex mt-lg-0 mt-3">
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-linkedin me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-instagram me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-facebook me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Linkedin link" target="_blank"
              href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
              <i class="bi bi-tiktok me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
            <a aria-label="Youtube link" target="_blank"
              href="https://www.youtube.com/@PayungMadinah">
              <i class="bi bi-youtube me-3"
                style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <img loading="lazy" src="/images/members/Zamrotin - Finance.png"
        class="w-100" />
    </div>
  </div>
</div>