<section class="">
  <div class="section__container section__container--color rounded-2"
    style="background-color: #fff;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-9">
          <div class="row">
            <div class="col col-lg-4 col-12 text-lg-start text-center mb-lg-0 mb-3">
              <img class="img-fluid lazyload img-about-karir"
                data-src="/images/about-karir.png" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"
                alt="Penghargaan Muassasah" />
              <p class="text-center mt-2">
              </div>
              <div class="col col-lg-8 col-12">
                <h2 class="fs-4 fw-bold mb-lg-4 mb-3">Tentang Payung
                  Madinah</h2>
                <p>
                  Payung Madinah Tour & Travel adalah biro perjalanan
                  ibadah yang bergerak di bidang Umroh dan Haji. Sebagai
                  spesialis umroh plus dengan pengalaman
                  memberangkatkan lebih dari 1500++ jamaah
                </p>
                <p>
                  Kami
                  menawarkan beragam paket umroh eksklusif yang
                  dipadukan dengan wisata religi ke destinasi bersejarah
                  seperti Turki, Dubai, dan Thaif — menghadirkan
                  pengalaman ibadah yang tak hanya sah secara syariat,
                  tapi juga berkesan secara emosional dan spiritual.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>