<section>
    <div class="section__container section__container--color rounded-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10 col-12">
                    <div class="row justify-content-center">
                        <div class="col col-12 col-lg-8">
                            <div class="section__heading mb-lg-4 pb-lg-1 mb-3 pb-1 text-center" data-aos="fade" data-aos-delay="10" data-aos-duration="1500" >
                                <h2 class="head__text--title fw-bold">
                                    Kenapa Memilih Payung Madinah
                                </h2>
                                <p data-aos="fade" data-aos-delay="15" data-aos-duration="1700">
                                    kami tak hanya mengantar Anda ke Tanah Suci, tapi juga menghadirkan
                                    ketenangan di setiap langkahnya.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-lg-2 mb-4">
                        <div class="col col-lg-5 col-12">
                            <img class="img-fluid lazyload p-lg-4 p-1" data-src="/images/why/1.png" data-aos="fade" data-aos-delay="15" data-aos-duration="1700"
                                alt="Penghargaan Muassasah" />
                            <p class="text-center mt-2">
                        </div>
                        <div class="col col-lg-5 col-12 position-relative">
                            <div class="center-vertical">
                                <h3 class="fw-bold fs-5 mb-lg-4 mb-3 lh15" data-aos="fade" data-aos-delay="15" data-aos-duration="600">
                                    Mendapatkan Penghargaan
                                    Muassasah Resmi Arab Saudi
                                </h3>
                                <p class="mb-4 text-muted" data-aos="fade" data-aos-delay="15" data-aos-duration="1000">
                                    Penghargaan ini diberikan langsung oleh perwakilan
                                    resmi Muassasah di Makkah, sebagai bentuk apresiasi
                                    terhadap komitmen Payung Madinah dalam
                                    mendampingi jamaah dengan penuh amanah,
                                    tanggung jawab, serta konsistensi menjaga standar
                                    layanan selama di Tanah Suci.
                                </p>
                                <a href="/tentang-kami" style="color:#b19167;font-size:12px;" data-aos="fade" data-aos-delay="15" data-aos-duration="1700">Lihat
                                    Selengkapnya <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-lg-2 mb-4">
                        <div class="col col-lg-5 col-12 position-relative order-2 order-lg-1">
                            <div class="center-vertical">
                                <h3 class="fw-bold fs-5 mb-lg-4 mb-3 lh15" data-aos="fade" data-aos-delay="15" data-aos-duration="600">
                                    Terbang lebih tenang dengan maskapai internasional
                                </h3>
                                <p class="mb-4 text-muted" data-aos="fade" data-aos-delay="15" data-aos-duration="1200">
                                    Di Payung Madinah, kami percaya bahwa perjalanan ibadah yang nyaman dimulai sejak
                                    Anda melangkah ke pesawat. Karena itu, kami bekerja sama dengan maskapai
                                    internasional terpercaya seperti Saudia Airlines, Qatar Airways, dan Turkish
                                    Airlines untuk memastikan kenyamanan, bagi setiap jamaah.
                                </p>
                                <a href="/tentang-kami" style="color:#b19167;font-size:12px;" data-aos="fade" data-aos-delay="15" data-aos-duration="1000">Lihat
                                    Selengkapnya <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col col-lg-5 col-12 order-1 order-lg-2">
                            <img class="img-fluid lazyload p-lg-4 p-1" data-src="/images/why/3.png" data-src="/images/why/1.png" data-aos="fade" data-aos-delay="15" data-aos-duration="1700"
                                alt="Penghargaan Muassasah" />
                            <p class="text-center mt-2">
                        </div>
                    </div>
                    <div class="row justify-content-center mb-lg-2 mb-4">
                        <div class="col col-lg-5 col-12">
                            <img class="img-fluid lazyload p-lg-4 p-1" data-src="/images/why/2.png" data-src="/images/why/3.png" data-src="/images/why/1.png" data-aos="fade" data-aos-delay="15" data-aos-duration="1700"
                                alt="Penghargaan Muassasah" />
                            <p class="text-center mt-2">
                        </div>
                        <div class="col col-lg-5 col-12 position-relative">
                            <div class="center-vertical">
                                <h3 class="fw-bold fs-5 mb-lg-4 mb-3 lh15" data-aos="fade" data-aos-delay="15" data-aos-duration="600">
                                    Pembimbing Bersertifikat dan Alumni Timur Tengah
                                </h3>
                                <p class="mb-4 text-muted"  data-aos="fade" data-aos-delay="15" data-aos-duration="1000">
                                    Setiap perjalanan ibadah bersama Payung Madinah didampingi oleh pembimbing
                                    profesional yang merupakan lulusan Timur Tengah. Mereka tidak hanya berpengalaman
                                    dalam membimbing jamaah, tetapi juga memiliki pemahaman mendalam tentang fiqih
                                    manasik dan budaya Tanah Suci.
                                </p>
                                <a href="/tentang-kami" style="color:#b19167;font-size:12px;" data-aos="fade" data-aos-delay="15" data-aos-duration="1000">Lihat
                                    Selengkapnya <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>