
<section class="section" style="background-image: url('/images/banners/x.jpg');">
    <div class="section__container mb-4 mb-lg-3 pb-4 pb-lg-3">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-12">
                    <div class="section__heading center mb-lg-4 mb-3">
                        <h2 class="head__text--title fw-bold mb-2">
                            Apa Kata Mereka Tentang Kami
                        </h2>
                        <p style="">Lihat Review
                            Jujur Dari Pelanggan</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="works">
                <div class="col col-12 col-lg-9">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col col-12">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper"
                            style="padding-bottom: 64px;">
                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col col-3">
                                                <div class="review-circle blue" data-aos="fade" data-aos-delay="0"  >
                                                    B
                                                </div>
                                            </div>
                                            <div class="col col-9"
                                                style="text-align: left;">
                                                <div
                                                    class="fw-bold text-dark text-left mb-0 fs-12x">Bondan
                                                    Rian</div>
                                                <div
                                                    class="fw-normal text-dark text-left fs-12x">Local
                                                    Guide</div>
                                                <div class="d-flex gap-2">
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-12">
                                                <div class="text-muted fs-12x"
                                                    style="text-align: left;">
                                                    Alhamdulillah tahun lalu
                                                    backpackeran di bulan
                                                    Ramadhan bareng Payung
                                                    Madinah dan jadi pengalaman
                                                    yang luar biasa Masyaallah..
                                                    Semoga Payung Madinah Tour
                                                    bisa terus menjadi
                                                    penyelenggara haji umroh
                                                    yang amanah dan baik
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col col-3">
                                                <div class="review-circle orange" data-aos="fade" data-aos-delay="0"  >
                                                    A
                                                </div>
                                            </div>
                                            <div class="col col-9"
                                                style="text-align: left;">
                                                <div
                                                    class="fw-bold text-dark text-left mb-0 fs-12x">Anita
                                                    Lestari</div>
                                                <div
                                                    class="fw-normal text-dark text-left fs-12x">Local
                                                    Guide</div>
                                                <div class="d-flex gap-2">
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-12">
                                                <div class="text-muted fs-12x"
                                                    style="text-align: left;">
                                                    Masyaallah tabarakkallah
                                                    Alhamdulillah kurasa satu2
                                                    nya travel umroh yg ada di
                                                    Palembang dgn harga
                                                    terjangkau tapi fasilitas
                                                    mewah. Karena saya sudah
                                                    keliling cari info tapi GK
                                                    ada fasilitas free kereta
                                                    cepat, kereta gantung dan
                                                    Taif lsg sekaligus kayak
                                                    payung madina. Semoga Allah
                                                    mempermudah hajat saya utk
                                                    bisa umroh tahun ini.
                                                    Allahumma sholia'la Muhammad
                                                    ❤️
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col col-3">
                                                <div class="review-circle red" data-aos="fade" data-aos-delay="0"  >
                                                    E
                                                </div>
                                            </div>
                                            <div class="col col-9"
                                                style="text-align: left;">
                                                <div
                                                    class="fw-bold text-dark text-left mb-0 fs-12x">Endang
                                                    (sh)</div>
                                                <div
                                                    class="fw-normal text-dark text-left fs-12x">Local
                                                    Guide</div>
                                                <div class="d-flex gap-2">
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-12">
                                                <div class="text-muted fs-12x"
                                                    style="text-align: left;">
                                                    Bismillahirrahmanirrahiim...
                                                    MaasyaAllah tabarakallah,
                                                    first impression ketika
                                                    melihat Tour & Travel dari
                                                    Payung Madinah di instagram
                                                    langsung tertarik. Program
                                                    yang ditawarkan beragam,
                                                    bukan hanya umroh saja,
                                                    namun ada juga program
                                                    belajar di Madinah (di
                                                    Universitas Islam Madinah) +
                                                    Umroh
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col col-3">
                                                <div class="review-circle brown" data-aos="fade" data-aos-delay="0"  >
                                                    F
                                                </div>
                                            </div>
                                            <div class="col col-9"
                                                style="text-align: left;">
                                                <div
                                                    class="fw-bold text-dark text-left mb-0 fs-12x">Fauziah
                                                    Nur</div>
                                                <div
                                                    class="fw-normal text-dark text-left fs-12x">Local
                                                    Guide</div>
                                                <div class="d-flex gap-2">
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-12">
                                                <div class="text-muted fs-12x"
                                                    style="text-align: left;">
                                                    Payung madinah adalah travel
                                                    dengan fasilitas mewah dan
                                                    harga yang tetap terjangkau.
                                                    Karena selama di tanah suci,
                                                    kita harus memilih hotel
                                                    yang nyaman agar pengalaman
                                                    ibadah semakin maksimal. Dan
                                                    payung madinah memberikan
                                                    fasilitas itu.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col col-3">
                                                <div class="review-circle" data-aos="fade" data-aos-delay="0"  >
                                                    H
                                                </div>
                                            </div>
                                            <div class="col col-9"
                                                style="text-align: left;">
                                                <div
                                                    class="fw-bold text-dark text-left mb-0 fs-12x">Harsa
                                                    Isra Ashari</div>
                                                <div
                                                    class="fw-normal text-dark text-left fs-12x">Local
                                                    Guide</div>
                                                <div class="d-flex gap-2">
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                    <i
                                                        class="bi bi-star-fill tetk text-warning fs-12x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-12">
                                                <div class="text-muted fs-12x"
                                                    style="text-align: left;">
                                                    Maa syaa Allah Payung
                                                    Madinah, insyaa Allah travel
                                                    umroh yang amanah & sesuai
                                                    sunnah. memiliki paket umroh
                                                    yg menarik, mulai dari paket
                                                    hemat, spesial, reguler,
                                                    sampai executive. Tidak
                                                    hanya melayani umroh, haji,
                                                    dan visa, ada juga program
                                                    belajar di kota Nabi ☺️
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-12 col-lg-auto">
                    <a class="bt block-desktop block-mobile orange"
                        href="https://www.google.com/search?q=payungmadinah.id&sca_esv=f6bc877b3d7fa12d&source=hp&ei=7aY9aOqKJ8_NseMP1dLe-Ak&iflsig=AOw8s4IAAAAAaD20_RZlDH7kLao2HO0L-hAwvDaEvYG1&ved=0ahUKEwiqtf7i69KNAxXPZmwGHVWpF58Q4dUDCBc&uact=5&oq=payungmadinah.id&gs_lp=Egdnd3Mtd2l6IhBwYXl1bmdtYWRpbmFoLmlkSIANUABYiAxwAHgAkAEAmAFNoAG9CKoBAjE2uAEDyAEA-AEBmAINoAKNB8ICBxAAGIAEGBPCAgUQABjvBZgDAJIHAjEzoAeMMLIHAjEzuAeNB8IHBTYuNi4xyAcR&sclient=gws-wiz" target="_blank">Lihat Semua Review</a>
                </div>
            </div>
        </div>
    </div>
</section>
