<section class="concat-wrapper">
    <div class="section__container">
            <form method="POST" action="/services/contact">
              <div class="row justify-content-center">
                  <div class="col col-12 col-md-5">
                      <h2 class="head__text--title mb-3 d-none">
                          Discuss your project with us. <br/>
                          We're team of professional
                      </h2>
                      <div class="contact-promo">
                        <h2>Have an idea in mind ?<br/>We can help <br/>
                      </div>
                      <div class="section__subheading d-block">
                          <p class="content__text">
                            Transform your digital vision with Payung Madinah. Our skilled and dedicated team ensures top-tier quality in every product we develop.
                          <hr/>
                          <small class="" style="color:#aaa;font-size:11px;font-weight:normal;">
                            Payung Madinah is committed to processing the above information in order to contact you and talk about your project. Other information is used for statistical purposes and, from time to time, we would like to contact you about our other products and services, as well as other content that may be of interest.
                          </small>
                          </p>
                      </div>
                  </div>
                  <div class="col col-12 col-md-5">
                      <div class="row">
                        <div class="col col-12 col-lg-12 mb-4">
                            {{#if messageContact}}
                                <div class="alert alert-success mb-2" role="alert">
                                    <strong>{{messageContact}}</strong>
                                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label for="service_id" class="mb-2 text-muted">Choose Service</label>
                                <select class="form-control" name="service_id" required>
                                  <option value="1">Web Development</option>
                                  <option value="2">Mobile Development</option>
                                  <option value="3">Logo & Brand Identity Services</option>
                                  <option value="4">UI/UX for product Development</option>
                                  <option value="5">Advertising & Media</option>
                                  <option value="6">Business Intelligence & Data Analytics</option>
                                </select>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col col-12 col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="" class="mb-2 text-muted">Full Name</label>
                                <input type="text" class="form-control" name="nama_lengkap" required>
                            </div>
                          </div>
                          <div class="col col-12 col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="" class="mb-2  text-muted">Phone Number</label>
                                <input type="text" class="form-control" name="phone" required>
                            </div>
                          </div>
                          <div class="col col-12 col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="" class="mb-2  text-muted">Email</label>
                                <input type="text" class="form-control" name="email" required>
                            </div>
                          </div>
                          <div class="col col-12 col-lg-6 mb-4">
                            <div class="form-group">
                                <label for="" class="mb-2 text-muted" required>Budget</label>
                                <select class="form-control" name="budget_est" required>
                                  <option value="">Budget Estimation</option>
                                  <option value="1">Less than IDR 50.000.000</option>
                                  <option value="2">IDR 50.000.000 - 100.000.000</option>
                                  <option value="2">IDR More than 100.000.000</option>
                                </select>
                            </div>
                          </div>
                          <div class="col col-12 col-lg-12 mb-4">
                            <div class="form-group">
                              <label for="" class="mb-2 text-muted">Description</label>
                              <textarea class="form-control" rows="5" name="description" required></textarea>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col col-12 col-md-12">
                            <button type="submit" class="bt block-mobile orange text-white mb-0 mb-lg-2" style="padding: 8px 16px;">Send message</button>
                        </div>
                      </div>
                  </div>
              </div>
            </form>
        </div>
</section>