<div id="cookie-consent-banner" class="cookie-banner hidden">
  <p>
    Kami menggunakan cookie untuk meningkatkan pengalaman Anda. Dengan mengklik 'Terima', Anda menyetujui penggunaan cookie kami untuk keperluan analisis dan pemasaran.
  </p>
  <div class="cookie-buttons">
    <button id="accept-cookies">Terima</button>
    <button id="reject-cookies">Tolak</button>
  </div>
</div>
