 <!-- section counter -->
<section class="py-lg-4 py-3">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-lg-3 text-center  mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counter-1">423</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Pekerjaan<br />Listing/ Tahun
            </p>
          </div>
        </div>
      </div>

      <div class="col col-6 col-lg-3 text-center mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counter-2">8000</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Pelamar<br /> yang Mendaftar
            </p>
          </div>
        </div>
      </div>

      <div class="col col-6 col-lg-3 text-center mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counter-3">20</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Kerjasama<br />Perusahaan Internasional
            </p>
          </div>
        </div>
      </div>

      <div class="col col-6 col-lg-3 text-center mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counter-4">50</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Posisi Pekerjaan<br /> yang Tersedia
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section counter -->