 <!-- section counter -->
<section class="py-lg-4 py-3">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-lg-3 text-center  mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counterabout-1">1500</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Keberangkatan<br />Jamaah
            </p>
          </div>
        </div>
      </div>

      <div class="col col-6 col-lg-3 text-center mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counterabout-2">10</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Destinasi<br /> Populer
            </p>
          </div>
        </div>
      </div>

      <div class="col col-6 col-lg-3 text-center mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counterabout-3">20</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Kerjasama<br />Perusahaan Internasional
            </p>
          </div>
        </div>
      </div>

      <div class="col col-6 col-lg-3 text-center mb-lg-0 mb-3">
        <div class="row">
          <div class="col col-12 col-lg-3">
            <h2 class="fw-bold fs-26 js-counterabout-4">5</h2>
          </div>
          <div class="col col-12 col-lg-9">
            <p class="text-muted text-lg-start text-center  mb-0 pb-0"
              style="font-size: 14px;">
              Office di Seluruh<br /> Indonesia
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section counter -->