<section class="section" style="background-color: #fff;">
    <div class="section__container">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-9">
                    <div class="section__heading left">
                        <h2 class="head__text--title fw-bold">
                            Layanan Kami
                            <p class="content__text mb-lg-5 mb-2">
                                Payung Madinah melayani secara Profesional dan
                                sepenuh hati.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 pb-2">
                    <div class="col col-12 col-lg-7 d-flex align-items-center mb-lg-0 mb-3"
                        style="height: 100%;">
                        <iframe width="670" height="450"
                            style="border-radius:8px;"
                            data-aos="fade" data-aos-delay="0" data-aos-duration="1500"
                            src="https://www.youtube.com/embed/1Czf7MKvaH0?si=VZIasqPl2oo-XxVg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                    </div>

                    <div class="col col-12 col-lg-5 mb-lg-0">
                        <div class="row">
                            <div class="col col-12 col-xl-6 mb-lg-4 mb-3 mb-3">
                                <div class="mb-lg-4 mb-3">
                                    <i class="bi bi-arrow-up-right fs-3 text-muted"></i>
                                </div>
                                <h5 class="fw-bold">Umrah & Haji</h5>
                                <p>Bersama kami, perjalanan ibadah Anda mudah,
                                    nyaman dan aman.</p>
                                <a href="#"
                                    style="color:#b19167;font-size:12px;">Lihat
                                    Selengkapnya <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                            <div class="col col-12 col-xl-6 mb-lg-4 mb-3">
                                <div class="mb-lg-4 mb-3">
                                    <i class="bi bi-card-heading fs-3 text-muted"></i>
                                </div>
                                <h5 class="fw-bold">Visa</h5>
                                <p>Memungkinkan Anda untuk melakukan ibadah atau
                                    Traveling dengan lebih fleksibel dan
                                    hemat.</p>
                                <a href="#"
                                    style="color:#b19167;font-size:12px;">Lihat
                                    Selengkapnya <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                            <div class="col col-12 col-xl-6 mb-lg-4 mb-3">
                                <div class="mb-lg-4 mb-3">
                                    <i class="bi bi-mortarboard-fill fs-3 text-muted"></i>
                                </div>
                                <h5 class="fw-bold">Belajar di Kota Nabi</h5>
                                <p>Payung Madinah menyediakan informasi beasiswa
                                    terbaru dari berbagai sumber terpercaya.</p>
                                <a href="#"
                                    style="color:#b19167;font-size:12px;">Lihat
                                    Selengkapnya <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                            <div class="col col-12 col-xl-6 mb-lg-4 mb-3">
                                <div class="mb-lg-4 mb-3">
                                    <i class="bi bi-file-earmark-person-fill fs-3 text-muted"></i>
                                </div>
                                <h5 class="fw-bold">LA Saudi</h5>
                                <p>Wujudkan perjalanan Ibadah yang mudah,
                                    nyaman,
                                    dan berkesan dengan layanan LA Payung
                                    Madinah.</p>
                                <a href="#"
                                    style="color:#b19167;font-size:12px;">Lihat
                                    Selengkapnya <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>