<div class="ig__widget js-ig-widget">
  <a href="https://www.instagram.com/payungmadinah/?hl=en" target="_blank">
    <img data-aos="fade" data-aos-duration="1500" data-aos-delay="150"
      src="/images/ig-social.png" alt />
  </a>
</div>

<div class="wa__widget js-wa-widget">
  <div class="wa__widget--container">
    <div class="wa__widget--head">
      <span class="js-wa-back waback">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
          fill="currentColor" class="bi bi-chevron-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
      </span>
      <div class="wa__widget--message">
        Tim HIPMI Sumsel <br />siap membantu.
      </div>
    </div>
    <div class="wa__widget--content">
      <a class="items"
        href="https://api.whatsapp.com/send?phone=+6288276691839&text=Assalamualaikum warrahmatullahi wabaraktuh, saya mendapatkan informasi mengenai Umroh dari website HIPMI Sumsel (payungmadinah.id). Mohon berikan informasi lebih lanjut terkait paket Umroh yang tersedia. Mohon bantuannya terimakasih. Wassalamualaikum warrahmatullahi wabarakatuh."
        target="_blank">
        <div>
          <img height="24" width="24" src="/images/thumb/palembang.jpg" />
        </div>
        <div>
          <div class="subtitle">Admin Palembang</div>
          <h6 class="name">
            Anggun
          </h6>
          <span class="status">online <span
              class="dot dot--online"></span></span>
        </div>
      </a>
      <a class="items"
        href="https://api.whatsapp.com/send?phone=+6282120358034&text=Assalamualaikum warrahmatullahi wabaraktuh, saya mendapatkan informasi mengenai Umroh dari website HIPMI Sumsel (payungmadinah.id). Mohon berikan informasi lebih lanjut terkait paket Umroh yang tersedia. Mohon bantuannya terimakasih. Wassalamualaikum warrahmatullahi wabarakatuh."
        target="_blank">
        <div>
          <img height="24" width="24" src="/images/thumb/jakarta.jpg" />
        </div>
        <div>
          <div class="subtitle">Admin Jakarta</div>
          <h6 class="name">
            Lisa
          </h6>
          <span class="status">online <span
              class="dot dot--online"></span></span>
        </div>
      </a>
      <a class="items"
        href="https://api.whatsapp.com/send?phone=+6288276691843&text=Assalamualaikum warrahmatullahi wabaraktuh, saya mendapatkan informasi mengenai Umroh dari website HIPMI Sumsel (payungmadinah.id). Mohon berikan informasi lebih lanjut terkait paket Umroh yang tersedia. Mohon bantuannya terimakasih. Wassalamualaikum warrahmatullahi wabarakatuh."
        target="_blank">
        <div>
          <img height="24" width="24" src="/images/thumb/bandung.jpg" />
        </div>
        <div>
          <div class="subtitle">Admin Bandung</div>
          <h6 class="name">
            Hisnanti
          </h6>
          <span class="status">online <span
              class="dot dot--online"></span></span>
        </div>
      </a>
    </div>
  </div>
</div>
<a data-aos="fade" data-aos-duration="1500" data-aos-delay="150" target="_blank" href="https://bio.site/payungmadinah?fbclid=PAZXh0bgNhZW0CMTEAAacZJZszUA1bYdhb5gaoN-lVWYujt4otmQ8wWDdd_x3MNY8dqJIB5nt1j00E8A_aem_pGYAi7IepDbezluE58Z7Ng"
  class="watzap-wdg-parent right watzap-anim_animated watzap-anim_bounceInUp">
  <div id="watzap-floating-sty2" class="open-watzap-popup watzap-style-2"
    style="background: #51cd60; z-index: 999;border-radius: 100px !important;">
    <img class="watzap-fc-icon" src="https://cdn.watzap.id/icon-1.png" alt>
  </div>
</a>
<footer class="footer-core" style="position: relative;z-index:2;">
  <div class="footer-float">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-12 col-lg-12">
          <div class="card" style="border: 1px solid #f9f9f9;">
            <div class="card-body p-0">
              <div class="row">
                <div class="col col-3 col-lg-6">
                  <div class="swiper swiperFooter">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img data-src="/images/offices/jkt/1.jpg" alt="Images"
                          width="100%" class="footer-float--img lazyload"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/jkt/2.jpg" alt="Images"
                          width="100%" class="footer-float--img lazyload"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/1.png" alt="Images"
                          width="100%" class="lazyload footer-float--img" data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/2.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/3.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/4.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/5.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/6.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/plg/7.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/1.png" alt="Images"
                          width="100%" class="lazyload footer-float--img" data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/2.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/3.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/4.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/5.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/6.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                      <div class="swiper-slide">
                        <img data-src="/images/offices/bdg/7.png" alt="Images"
                          width="100%" class="lazyload footer-float--img"
                          data-aos="fade"
                          data-aos-delay="0" data-aos-duration="1500" />
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <div class="col col-9 col-lg-6">
                  <div class="p-lg-4 p-3 ps-0 pe-4 footer-floatx">
                    <img style="border-radius:0;"
                      class="mb-lg-2 mb-1 mt-lg-2 mt-1 d-none d-lg-block"
                      src="/images/logo.png" width="150" alt />
                    <h5 class="text-dark fw-bold">Kunjungi Office Kami
                      Sekarang!</h5>
                    <p class="text-muted mb-lg-4 mb-3">Hubungi Customer service
                      HIPMI Sumsel Untuk Informasi
                      selengkapnya.</p>
                    <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
                      href="http://linktr.ee/payungmadinahtour"
                      target="_blank"><i
                        class="bi bi-whatsapp me-2"></i>Konsultasi Gratis</a>
                    <div class="mb-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class>
    <div
      class="section__container--color-small section__container--dark-deep between pb-4">
      <div class="container">
        <div class="row">
          <div class="col col-12 col-md-4">
            <div class="d-block d-lg-none text-center mt-lg-0 mt-5">
              <img class="logo-bottom mb-lg-3 mb-4" src="/images/logo.png"
                width="210" alt />
            </div>
            <div class="d-lg-block d-none text-left mt-lg-0 mt-5 mb-3">
              <img class="logo-bottom mb-lg-2 mb-4" src="/images/logo.png"
                width="210" alt />
            </div>
            <p class="text-white mb-0">
              <div class="fxfoot-text">HIPMI Sumsel</div>
              <p class="fxfoot-text2" style="color:#222;">
                Alamat Kantor Sekretariat : 
              </p>
            </p>
            <h6 class="text-white mb-lg-3 mb-2"
              style="font-weight:500;font-size:16px;">Informasi Kontak</h6>
            <ul class="text-white list text-muted ">
              <li style="font-size:14px;">
                <i class="bi bi-whatsapp me-2"></i>+62 882 7669 1839 (Admin CS
                Palembang)
              </li>
              <li style="font-size:14px;">
                <i class="bi bi-whatsapp me-2"></i>+62 821 2035 8034 (Admin CS
                Jakarta)
              </li>
            </ul>
          </div>
          <div class="col col-12 col-lg-2 col-md-6">
            <h6 class="text-white mb-lg-3 mb-2"
              style="font-weight:500;font-size:16px;">Paket Umroh</h6>
            <ul class="text-muted reset" style="padding-left:0;">
              <li>
                <a href="/umroh">Paket Umroh</a>
              </li>
              <li>
                <a href="/umroh?filter=thaif">Umroh Plus Dubai</a>
              </li>
              <li>
                <a href="/umroh?filter=thaif">Umroh Plus Turki</a>
              </li>
              <li>
                <a href="/umroh?filter=thaif">Umroh Plus Al Ula</a>
              </li>
              <li>
                <a href="/umroh?filter=thaif">Umroh Plus Thaif</a>
              </li>
            </ul>
            <h6 class="text-white mb-lg-3 mb-2"
              style="font-weight:500;font-size:16px;">HIPMI Sumsel</h6>
            <ul class="text-muted reset" style="padding-left:0;">
              <li>
                <a href="/visa">Visa Umroh Terlengkap</a>
              </li>
              <li>
                <a href="/berita">Artikel & Berita</a>
              </li>
              <li>
                <a href="/galeri">Galeri</a>
              </li>
              <li>
                <a href="/kontak">Kontak</a>
              </li>
            </ul>
          </div>
          <div class="col col-12 col-lg-2 col-md-6">
            <h6 class="text-white mb-lg-3 mb-2"
              style="font-weight:500;font-size:16px;">Informasi</h6>
            <ul class="text-muted reset" style="padding-left:0;">
              <li>
                <a href="/syarat-ketentuan" target="_blank">Syarat dan
                  Ketentuan</a>
              </li>
              <li>
                <a href="/kebijakan-privasi" target="_blank">Kebijakan
                  Privasi</a>
              </li>
              <li class="d-none">
                <a href="/faq">FAQ<span class="upcoming">next</span></a>
              </li>
              <li>
                <a href="/karir">Karir</a>
              </li>
              <li>
                <a href="/sosial-media">Sosial Media</a>
              </li>
              <li>
                <a href="/tentang-kami">Tentang Kami</a>
              </li>
            </ul>
            <h6 class="text-white mb-lg-3 mb-2"
              style="font-weight:500;font-size:16px;">Sosial Media</h6>
            <ul class="text-muted reset" style="padding-left:0;">
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100093536076397"
                  target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://www.instagram.com/payungmadinah/?hl=en"
                  target="_blank">Instagram</a>
              </li>
              <li>
                <a href="https://www.tiktok.com/@payungmadinah?lang=en"
                  target="_blank">Tiktok</a>
              </li>
              <li>
                <a href="https://www.youtube.com/@PayungMadinah"
                  target="_blank">Youtube</a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all"
                  target="_blank">Linkedin</a>
              </li>
            </ul>
          </div>
          <div class="col col-12 col-md-4 col-xl-4">
            <h6 class="text-white mb-lg-3 mb-2"
              style="font-weight:500;font-size:16px;">Kantor Sekretariat</h6>
            <ul class="text-white list">
              <li class="text-muted ">
                <h6 class="text-muted fw-bold"><i
                    class="bi bi-geo-fill me-2"></i>Head
                  Jakarta:</h6>
                <p style="font-size:11px;">
                  Gran Rubina Business Park (Lantai 21.E) Jl. Epicentrum Utama
                  Raya, RT.1/RW.5, Karet Kuningan,
                  Kecamatan Setiabudi, Kota Jakarta Selatan, Jakarta, Daerah
                  Khusus Ibukota Jakarta 12940
                </p>
                <h6 class="fw-bold"><i class="bi bi-geo-fill me-2"></i>Branch
                  Palembang:</h6>
                <p style="font-size:11px;">
                  Citra Grand City No B8/16. Kec. Alang-Alang Lebar Kota
                  Palembang, Sumatera Selatan.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="section__container--color-small section__container--darker-deep smaller"
    style="border-top:1px solid #2b3035">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-md-6">
          <div class="text-md-start text-center">
            <small class="text-muted">Copyright &copy 2024 - 2025. BPD HIPMI Sumsel - All rights
              reserved</small>
          </div>
        </div>
        <div class="col col-12 col-md-6">
          <div class="text-md-end text-center">
            <div
              class="d-flex float-md-end justify-content-center mt-lg-0 mt-3">
              <a aria-label="Facebook link" target="_blank"
                href="https://www.facebook.com/profile.php?id=100093536076397"
                class="me-3">
                <img loading="lazy" src="/images/iconset/facebook.svg" width="31" height="31"
                  alt />
              </a>
              <a aria-label="Tiktok link" target="_blank"
                href="https://www.tiktok.com/@payungmadinah?lang=en">
                <i class="bi bi-tiktok me-3"
                  style="font-size:23px;color:#bbb;"></i>
              </a>
              <a aria-label="Instagram link" target="_blank"
                href="https://www.instagram.com/payungmadinah/?hl=en"
                class="me-3">
                <img loading="lazy" src="/images/iconset/instagram.svg" width="32" height="32"
                  alt />
              </a>
              <a aria-label="Youtube link" target="_blank"
                href="https://www.youtube.com/@PayungMadinah">
                <i class="bi bi-youtube me-3"
                  style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
              </a>
              <a aria-label="Threads link" target="_blank"
                href="https://www.youtube.com/@PayungMadinah">
                <i class="bi bi-threads me-3"
                  style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
              </a>
              <a aria-label="Linkedin link" target="_blank"
                href="https://www.linkedin.com/company/payungmadinahtour/posts/?feedView=all">
                <i class="bi bi-linkedin me-3"
                  style="font-size:28px;position:relative;top:-3px;color:#bbb;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> components/gotop}}
  </footer