<div class="row">
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="lazyload" data-src="/images/iconset/card-responsive.svg" width="81" height="81"
                    alt="SEO Friendly" />
            </div>
            <h4 class="content__text center">SEO-Friendly</h4>
        </div>
    </div>
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="ssl lazyload" class="lazyload" data-src="/images/iconset/card-ssl.svg"
                    width="81" height="81" alt="SSL Ready/ HSTS" />
            </div>
            <h4 class="content__text center">Installed <br /> SSL/ HSTS Ready</h4>
        </div>
    </div>
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="email lazyload" data-src="/images/iconset/card-email2.svg" width="81"
                    height="81" alt="Profesional" />
            </div>
            <h4 class="content__text center">Business Email <br /> (Professional)</h4>
        </div>
    </div>
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="server lazyload" data-src="/images/iconset/card-server.svg" width="81"
                    height="81" alt="" />
            </div>
            <h4 class="content__text center">You can choose whether <br /> Hosting/ VPS/ Cloud</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="server lazyload" data-src="/images/iconset/card-secure.svg" width="81"
                    height="81" alt="Keamanan" />
            </div>
            <h4 class="content__text center">Security Support <br/>for servers</h4>
        </div>
    </div>
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="server lazyload" data-src="/images/iconset/card-design.svg" width="81"
                    height="81" alt="Desain eksklusif" />
            </div>
            <h4 class="content__text center">Exclusive design<br />
                from Payung Madinah</h4>
        </div>
    </div>
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="server lazyload" data-src="/images/iconset/card-stack.svg" width="81"
                    height="81" alt="Teknologi baru" />
            </div>
            <h4 class="content__text center">Cutting Edge <br/> Technology</h4>
        </div>
    </div>
    <div class="col col-6 col-md-3">
        <div class="card__container">
            <div class="card__blue">
                <img class="server lazyload" data-src="/images/iconset/card-watch.svg" width="81"
                    height="81" alt="Delivery cepat" />
            </div>
            <h4 class="content__text center">Fast development time</h4>
        </div>
    </div>
</div>