<div class="row serviceme">
  <div class="col col-12 col-md-6 col-xl-3" 
    data-aos="fade" data-aos-duration="1300" data-aos-delay="10">
    <div class="flat card card-post card-white mb-lg-4 mb-4 js-match-height">
      <img style="max-height:315px;" alt="Images" src="/images/banners/1.png" />
      <div class="card-body" style="background-color: white;">
        <div class="content__text text-muted"
          style="color:#444 !important;font-size:.70rem;">
          <h5 class="fw-bold text-center" style="text-wrap:wrap;">Umroh Plus
            Al-Ula Juli 2025</h5>
        </div>
        <table>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-calendar2 me-2"></i>
                Keberangkatan
              </span>
            </td>
            <td>
              <span style="font-size:14px;font-weight:bold;margin-left:18px;">
                : Juli 2025
              </span>
            </td>
          </tr>
          <tr class="d-none">
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-clock me-2"></i>
                Durasi Paket
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : 15 hari
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-buildings me-2"></i>
                Hotel
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                :
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-light me-1"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-geo-fill me-2"></i>
                Start dari
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Jakarta
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-airplane me-2"></i>
                Maskapai
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Qatar/Setaraf
              </span>
            </td>
          </tr>
        </table>
        <div class="text-center py-lg-3 mt-lg-3 pt-2 pb-0 mt-2">
          <a href="/umroh?filter=alula"
            class="bt block-mobile orange text-white mb-0 mb-lg-2">Lihat
            Selengkapnya</a>
        </div>
      </div>
      <a href="/umroh?filter=alula" class="card__click"
        aria-label="Business Website"></a>
    </div>
  </div>

  <div class="col col-12 col-md-6 col-xl-3" 
    data-aos="fade" data-aos-duration="1400" data-aos-delay="20">
    <div class="flat card card-post card-white mb-lg-4 mb-4 js-match-height">
      <img class="w-100" style="max-height:315px;" alt="Images"
        src="/images/banners/2.png" />
      <div class="card-body" style="background-color: white;">
        <div class="content__text text-muted"
          style="color:#444 !important;font-size:.75rem;">
          <h5 class="fw-bold text-center" style="text-wrap:wrap;">Umroh Plus
            Turki Juli 2025</h5>
        </div>
        <table>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-calendar2 me-2"></i>
                Keberangkatan
              </span>
            </td>
            <td>
              <span style="font-size:14px;font-weight:bold;margin-left:18px;">
                : Juli 2025
              </span>
            </td>
          </tr>
          <tr class="d-none">
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-clock me-2"></i>
                Durasi Paket
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : 15 hari
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-buildings me-2"></i>
                Hotel
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                :
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-light me-1"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-geo-fill me-2"></i>
                Start dari
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Jakarta
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-airplane me-2"></i>
                Maskapai
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Qatar/Setaraf
              </span>
            </td>
          </tr>
        </table>
        <div class="text-center py-lg-3 mt-lg-3 pt-2 pb-0 mt-2">
          <a href="/umroh?filter=turki"
            class="bt block-mobile orange text-white mb-0 mb-lg-2">Lihat
            Selengkapnya</a>
        </div>
      </div>
      <a href="/umroh?filter=turki" class="card__click"
        aria-label="Business Website"></a>
    </div>
  </div>

  <div class="col col-12 col-md-6 col-xl-3" 
    data-aos="fade" data-aos-duration="1500" data-aos-delay="30">
    <div class="flat card card-post card-white mb-lg-4 mb-4 js-match-height">
      <img class="w-100" style="max-height:315px;" alt="Images"
        src="/images/banners/3.png" />
      <div class="card-body" style="background-color: white;">
        <div class="content__text text-muted"
          style="color:#444 !important;font-size:.75rem;">
          <h5 class="fw-bold text-center" style="text-wrap:wrap;">Umroh Plus
            Thaif Juli 2025</h5>
        </div>
        <table>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-calendar2 me-2"></i>
                Keberangkatan
              </span>
            </td>
            <td>
              <span style="font-size:14px;font-weight:bold;margin-left:18px;">
                : Juli 2025
              </span>
            </td>
          </tr>
          <tr class="d-none">
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-clock me-2"></i>
                Durasi Paket
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : 15 hari
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-buildings me-2"></i>
                Hotel
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                :
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-light me-1"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-geo-fill me-2"></i>
                Start dari
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Jakarta
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-airplane me-2"></i>
                Maskapai
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Qatar/Setaraf
              </span>
            </td>
          </tr>
        </table>
        <div class="text-center py-lg-3 mt-lg-3 pt-2 pb-0 mt-2">
          <a href="/umroh?filter=thaif"
            class="bt block-mobile orange text-white mb-0 mb-lg-2">Lihat
            Selengkapnya</a>
        </div>
      </div>
      <a href="/umroh?filter=thaif" class="card__click"
        aria-label="Business Website"></a>
    </div>
  </div>

  <div class="col col-12 col-md-6 col-xl-3" 
    data-aos="fade" data-aos-duration="1700" data-aos-delay="40">
    <div class="flat card card-post card-white mb-lg-4 mb-4 js-match-height">
      <img class="w-100" style="max-height:315px;" alt="Images"
        src="/images/banners/4.png" />
      <div class="card-body" style="background-color: white;">
        <div class="content__text text-muted"
          style="color:#444 !important;font-size:.75rem;">
          <h5 class="fw-bold text-center" style="text-wrap:wrap;">Umroh Plus
            Dubai Juli 2025</h5>
        </div>
        <table>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-calendar2 me-2"></i>
                Keberangkatan
              </span>
            </td>
            <td>
              <span style="font-size:14px;font-weight:bold;margin-left:18px;">
                : Juli 2025
              </span>
            </td>
          </tr>
          <tr class="d-none">
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-clock me-2"></i>
                Durasi Paket
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : 15 hari
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-buildings me-2"></i>
                Hotel
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                :
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-warning me-1"></i>
                <i class="bi bi-star-fill text-light me-1"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-geo-fill me-2"></i>
                Start dari
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Jakarta
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size:14px;">
                <i class="bi bi-airplane me-2"></i>
                Maskapai
              </span>
            </td>
            <td>
              <span style="font-size:14px;margin-left:18px;">
                : Qatar/Setaraf
              </span>
            </td>
          </tr>
        </table>
        <div class="text-center py-lg-3 mt-lg-3 pt-2 pb-0 mt-2">
          <a href="/umroh?filter=dubai"
            class="bt block-mobile orange text-white mb-0 mb-lg-2">Lihat
            Selengkapnya</a>
        </div>
      </div>
      <a href="/umroh?filter=dubai" class="card__click"
        aria-label="Business Website"></a>
    </div>
  </div>
</div>