<div class="row justify-content-center">
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/uiux.svg" width="75" height="75"
                alt="" />
            <h5 class="d-lg-block d-none">Business Intelligence & Data Analytics</h5>
            <h5 class="d-block d-lg-none">Data Analytics & BI</h5>
          </div>
          <a href="/layanan/bi-analytics" class="card__click" aria-label="Business Website"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/landingpage.svg" width="75" height="75"
                alt="" />
            <h5>Landing Page Website</h5>
          </div>
          <a href="/layanan/landing-page" class="card__click" aria-label="Business Website"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/business.svg" width="75" height="75"
                alt="" />
            <h5>Business Website</h5>
                <div class="content__text">{{this.date}}</div>
          </div>
          <a href="layanan/business-website" class="card__click" aria-label="Business Website"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/mobile.svg" width="75" height="75"
                alt="" />
            <h5>Mobile App</h5>
                <div class="content__text">{{this.date}}</div>
          </div>
          <a href="layanan/mobile" class="card__click" aria-label="Mobil Web App/ React Native App/ Ionic"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/cms.svg" width="75" height="75" alt="" />
            <h5>CMS Website</h5>
          </div>
          <a href="layanan/cms-website" class="card__click" aria-label="Business Website"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/slicing.svg" width="75" height="75"
                alt="" />
            <h5>Web Slicing</h5>
          </div>
          <a href="layanan/web-slicing" class="card__click" aria-label="Web Slicing"></a>
      </div>
    </div>
    <div class="col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/uiux.svg" width="75" height="75"
                alt="" />
            <h5>UI/UX Design</h5>
          </div>
          <a href="layanan/ui-ux" class="card__click" aria-label="UI/UX Design Web dan Mobile"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/logo.svg" width="75" height="75"
                alt="" />
            <h5>Logo & Brand Kit Design</h5>
          </div>
          <a href="layanan/logo" class="card__click" aria-label="Logo & Brand Kit Design"></a>
      </div>
    </div>
    <div class="col col-6 col-md-6 col-xl-4 mb-4">
      <div class="card flat">
          <div class="card-body text-center">
            <img class="mb-3 lazyload" data-src="/images/iconset/service/landingpage.svg" width="75" height="75" style="transform:rotate(180deg)"
                alt="" />
            <h5>Advertising Media</h5>
          </div>
          <a href="layanan/advertising-media" class="card__click" aria-label="Logo & Brand Kit Design"></a>
      </div>
    </div>
</div>