{{> components/navigation}}

<div class="masthead_background">
  <div class="swiper swiperFooter" style="height: auto;">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img data-src="/images/offices/jkt/1.jpg" alt="Images"
          width="100%" class="masthead-float--img lazyload"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/jkt/2.jpg" alt="Images"
          width="100%" class="masthead-float--img lazyload"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/1.png" alt="Images"
          width="100%" class="lazyload masthead-float--img" data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/2.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/3.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/4.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/5.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/6.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/7.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/1.png" alt="Images"
          width="100%" class="lazyload masthead-float--img" data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/2.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/3.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/4.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/5.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/6.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/7.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>