{{> components/navigation}}

<div class="masthead_background">
  <div class="swiper swiperFooter" style="height: auto;">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img data-src="/images/offices/jkt/1.jpg" alt="Images"
          width="100%" class="masthead-float--img lazyload"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/jkt/2.jpg" alt="Images"
          width="100%" class="masthead-float--img lazyload"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/1.png" alt="Images"
          width="100%" class="lazyload masthead-float--img" data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/2.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/3.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/4.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/5.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/6.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/plg/7.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/1.png" alt="Images"
          width="100%" class="lazyload masthead-float--img" data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/2.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/3.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/4.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/5.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/6.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
      <div class="swiper-slide">
        <img data-src="/images/offices/bdg/7.png" alt="Images"
          width="100%" class="lazyload masthead-float--img"
          data-aos="fade"
          data-aos-delay="0" data-aos-duration="1500" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<section class="masthead__container mt-lg-5 mt-5 pb-lg-2 pb-1"
  style="margin-bottom: 32px;">
  <div class="container">
    <div class="row mb-lg-5 mb-4 justify-content-center">
      <div class="col col-9">
        <h2 class="fw-bold color-orange text-center mb-lg-5 mb-4">Tim
          kami
          hadir untuk memastikan setiap jamaah merasa
          tenang, terlayani, dan diprioritaskan.</h2>
      </div>
      <div class="col col-lg-10 col-12">
        <div class="row">
          <div class="col col-12 col-lg-4 mb-lg-0 mb-3 js-match-height">
            <div class="card" style="background-color: #fff;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icxa1.png" class="mb-3"
                  alt
                  width="50" />
                <h2 class="fw-bold fs-5 text-dark">Koneksi - Solusi
                </h2>
                <p class="text-dark fs-14">HIPMI mempertemukan antar ribuan anggota lainnya, lintas generasi dan daerah. Perluas jangkauan koneksi untuk menyelesaikan tantangan kewirausahaan Anda.</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-4 mb-lg-0 mb-3 js-match-height">
            <div class="card" style="background-color: #fff;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icxa1.png" class="mb-3"
                  alt
                  width="50" />
                <h2 class="fw-bold fs-5 text-dark">Kolaborasi - Kompetisi
                </h2>
                <p class="text-dark fs-14">Petakan pesaing dan mitra usaha Anda melalui HIPMI Sumsel. Bangun dan jaring kolaborasi untuk memajukan usaha Anda agar semakin berkembang, bertumbuh dan berkarya.
                </p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-4 js-match-height">
            <div class="card" style="background-color: #fff;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icxa1.png" class="mb-3"
                  alt
                  width="50" />
                <h2 class="fw-bold fs-5 text-dark">Aktual - Kapital
                </h2>
                <p class="text-dark fs-14">Dapatkan informasi terbaru dan kesempatan terlibat dalam berbagai program peningkatan kapasitas khusus anggota, serta akses modal melalui banyak mitra HIPMI.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>components/counter}}