<div class="marquee">
  <div class="marquee__inner" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
    <div class="marquee__content">
      <img loading="lazy" src="/images/partner/1.png" alt="Logo 1" />
      <img loading="lazy" src="/images/partner/2.svg" alt="Logo "/>
      <img loading="lazy" src="/images/partner/3.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/4.png" alt="Logo "/>
      <img style="padding:1px;" src="/images/partner/5.png" alt="Logo "/>
      <img style="padding:1px;" src="/images/partner/6.png" alt="Logo "/>
      <img style="padding:1px;" src="/images/partner/7.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/8.avif" alt="Logo "/>
      <img loading="lazy" src="/images/partner/9.svg" alt="Logo "/>
      <img loading="lazy" src="/images/partner/10.webp" alt="Logo "/>
      <img loading="lazy" src="/images/partner/11.svg" alt="Logo "/>
      <img loading="lazy" src="/images/partner/5.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/12.png" alt="Logo "/>
      <img class="p-2" src="/images/partner/13.png" alt="Logo "/>
    </div>
    <div class="marquee__content" aria-hidden="true">
      <img loading="lazy" src="/images/partner/1.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/2.svg" alt="Logo "/>
      <img loading="lazy" src="/images/partner/3.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/4.png" alt="Logo "/>
      <img style="padding:1px;" src="/images/partner/5.png" alt="Logo "/>
      <img style="padding:1px;" src="/images/partner/6.png" alt="Logo "/>
      <img style="padding:1px;" src="/images/partner/7.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/8.avif" alt="Logo "/>
      <img loading="lazy" src="/images/partner/9.svg" alt="Logo "/>
      <img loading="lazy" src="/images/partner/10.webp" alt="Logo "/>
      <img loading="lazy" src="/images/partner/11.svg" alt="Logo "/>
      <img loading="lazy" src="/images/partner/5.png" alt="Logo "/>
      <img loading="lazy" src="/images/partner/12.png" alt="Logo "/>
      <img class="p-2" src="/images/partner/13.png" alt="Logo "/>
    </div>
  </div>
</div>
