<div class="swiper marquee-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/1.png" alt="Logo 1" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/2.svg" alt="Logo 2" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/3.png" alt="Logo 3" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/4.png" alt="Logo 4" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/6.png" alt="Logo 6" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/7.png" alt="Logo 7" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/8.avif" alt="Logo 8" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/9.svg" alt="Logo 9" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/10.webp" alt="Logo 10" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/11.svg" alt="Logo 11" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/5.png" alt="Logo 5" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/12.png" alt="Logo 12" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/13.png" class="p-2" alt="Logo 13" /></div>

    <div class="swiper-slide"><img loading="lazy" src="/images/partner/1.png" alt="Logo 1" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/2.svg" alt="Logo 2" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/3.png" alt="Logo 3" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/4.png" alt="Logo 4" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/6.png" alt="Logo 6" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/7.png" alt="Logo 7" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/8.avif" alt="Logo 8" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/9.svg" alt="Logo 9" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/10.webp" alt="Logo 10" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/11.svg" alt="Logo 11" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/5.png" alt="Logo 5" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/12.png" alt="Logo 12" /></div>
    <div class="swiper-slide"><img loading="lazy" src="/images/partner/13.png" class="p-2" alt="Logo 13" /></div>
  </div>
</div>