<div class="card__border ">
   <a class="bt block-desktop block-mobile orange" href="http://linktr.ee/payungmadinahtour">Kontak</a>
   <a href="/syarat-ketentuan" class="link orange"> Syarat dan Ketentuan</a>
</div>