<div class="card__border ">
   <h2 class="card__text">Wordpress CMS</h2>
   <small class="card__text--subtitle">Termurah harga promo mulai dari</small>
   <div class="card__text--price">
      <p class="card__text--price-tag">Rp 3.750.000
         <span class="card__text--price-disc">Rp 4.500.000</span>
      </p>
   </div>
   <a class="bt block-desktop block-mobile orange" href="http://linktr.ee/payungmadinahtour">Kontak</a>
   <a href="/syarat-ketentuan" class="link orange"> Syarat dan Ketentuan</a>
</div>