<div class="card__border">
   <h2 class="card__text fw-bold">Company Profile/ Landing Page</h2>
   <small class="card__text--subtitle">Exclusive design, cutting edge web framework, desain sesuai keinginanmu.</small>
   <hr/>
   <div class="card__text--price d-none">
      <p class="card__text--price-tag">Rp 0
         <span class="card__text--price-disc">Rp 0</span>
      </p>
   </div>
   <p class="content__text">
      Perfect for a new company, increase exposure, Starting from general consulting companies, contractors,
      distributors, manufacturers, communities, and individuals.
   </p>
   {{#if withprice}}
   <h6 class="mt-3">What you will get:</h6>
   <ul class="list__check--container content__text">
      <li>
         <i>
            Fully customize design
         </i>
      </li>
      <li>
         1 major revision, unlimited minor revision
      </li>
      <li class="list__item">
         The price includes template design services (Figma/Penpot/Sketch)
      </li>
      <li>
         Integration with web framework: 
         Laravel, React, Svelte, Express Gen, HTML/CSS only or even any other technology you want
      </li>
      <li>
         SSL ready
      </li>
      <li>
         Sitemap with SEO/SERP compliance
      </li>
      <li>SEO/SERP dan mobile friendly</li>
      <li>
         Without content management system
      </li>
      <li>
         Free 5 pages
      </li>
      <li>
         Integrated with Search Console/ Webmaster (Google/Bing)
      </li>
      <li>
         Integrate with Analytics, Hotjar
      </li>
      <li>
         Provide 3rd party integration (SEO/SERP tools)
      </li>
   </ul>
   {{/if}}
   <a class="bt block-desktop block-mobile orange" href="http://linktr.ee/payungmadinahtour" target="_blank">Start with this project</a>
   <a href="/syarat-ketentuan" class="link orange"> Syarat dan Ketentuan</a>
</div>