<a href="mailto:payungmadinah.recruitment@gmail.com?subject=Posisi - Nama Pelamar - Domisili&body=Assalamualaikum" class="bt block-mobile orange text-white mb-0 mb-lg-2 float-end">
  
  <span class="d-none d-lg-inline-block">
    Kirim lamaran <i class="bi bi-arrow-up-right ms-2"></i>
  </span>
   <span class="d-inline d-lg-none">
  Lamar
  </span>
</a>