<div class="card__border">
   <h3 class="card__text fw-bold">Daftar Menu</h3>
   <hr/>
   <ul class="list__check--container content__text text-start mb-0" style="list-style: none;padding-left:0;">
      <li>
         <a href="/admin/">Artikel</a>
      </li>
      <li class="d-none">
         <a href="/admin/uploader">Masthead Slider</a>
      </li>
      <li>
         <a href="/admin/umroh">Umroh</a>
      </li>
      <li>
         <a href="/admin/umroh-gratis">Umroh Gratis</a>
      </li>
      <li class="">
         <a href="/admin/karir">Karir</a>
      </li>
      <li class="">
         <a href="/admin/galeri">Galeri</a>
      </li>
      <li class="d-none">
         <a href="/admin/">Partner Thumbnail</a>
      </li>
      <li class="d-none">
         <a href="/admin/">Review</a>
      </li>
      <li class="d-none">
         <a href="/admin/contact">Kontak</a>
      </li>
      <li>
         <a class="text-danger" href="/services/auth/logout">Logout</a>
      </li>
   </ul>
</div>