<section class="masthead__container mb-0 pb-0 about-desktop">
  <div class="container">
    <div thumbsSlider class="swiper swiperTeam2">
      <div class="swiper-wrapper">
        {{> components/memberslides/riedza}}
        {{> components/memberslides/yaya}}
        {{> components/memberslides/reza}}
        {{> components/memberslides/lisa}}
        {{> components/memberslides/bella}}
        {{> components/memberslides/hisnanti}}
        {{> components/memberslides/kismaniar}}
        {{> components/memberslides/zamrotin}}
        {{> components/memberslides/samsu}}
        {{> components/memberslides/wisnu}}
        {{> components/memberslides/sasan}}
        {{> components/memberslides/asiyan}}
        {{> components/memberslides/ria}}
        {{> components/memberslides/yolanda}}
        {{> components/memberslides/bagas}}
        {{> components/memberslides/anggun}}
        {{> components/memberslides/dinda}}
        {{> components/memberslides/yani}}
        {{> components/memberslides/nijma}}
        {{> components/memberslides/vira}}
        {{> components/memberslides/zaida}}
        {{> components/memberslides/nuraini}}
        {{> components/memberslides/salsabila}}
        {{> components/memberslides/bunga}}
        {{> components/memberslides/elsya}}
        {{> components/memberslides/anita}}
        {{> components/memberslides/adisty}}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
<div style="background-color: #fcfcfc;"
  class="masthead__container swiperTeamX pb-lg-2 pb-3">
  <div class="container">
    <div class="row">
      <div
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="swiper swiperTeam">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Riedza HRD.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Yaya - Finance.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Reza - CMO.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Elisa CRM.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Bella - SPV Jakarta.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Hisnati CRM.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Kismaniar - SPV Palembang.png"
              class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Zamrotin Finance.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Samsu - GA.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Wisnu - Operasional.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Abdul Sasan - Staff Operasional.png"
              class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Asiyan - Staff Operasional.png"
              class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Ria Anggraini - Staff Operasional.png"
              class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Yolanda - Customer Service.png"
              class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Bagas Editor.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Anggun - Admin CS.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Dinda - Admin CS.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Yani Rahayu - Admin CS.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Nijma Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Vira Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Zaida - Admin CS.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Nuraini Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Salsabila Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Bunga Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Elsya Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Anita Admin.png" class="w-100" />
          </div>
          <div class="swiper-slide">
            <img loading="lazy" src="/images/teams/Adisty Admin.png" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>