
<section class="section">
    <div class="section__container">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-12">
                    <div class="section__heading center mb-5">
                        <h2 class="head__text--title fw-bold mb-3">
                            Dokumentasi Jamaah Umroh
                        </h2>
                        <p>
                            Setiap langkah ibadah, kami rekam menjadi kisah yang indah untuk dikenang sepanjang masa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row"  id="works">
                <div class="col col-12 col-lg-9">
                </div>
            </div>
            <div class="row mb-lg-5 mb-4 pb-lg-4 pb-4 justify-content-center">
                <div class="col col-12 col-lg-9">
                <div class="swiper mySwiperph">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/thaif/1.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/thaif/2.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/dubai/3.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/thaif/4.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/turki/1.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/turki/2.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/turki/3.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/turki/4.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/dubai/1.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/dubai/2.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="/images/gallery/dubai/4.png" alt="Images" width="100%" class="lazyload" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"/>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </section>
