<section class="masthead__first">
    <div class="masthead__left text-center">
        <div class="swiper mastheadSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" target="_blank">
                        <img data-src="/images/masthead/dubai.png" alt="Images" width="100%" class="lazyload" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank">
                        <img data-src="/images/masthead/perlengkapan.png" alt="Images" width="100%" class="lazyload" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank">
                        <img data-src="/images/masthead/thaif.png" alt="Images" width="100%" class="lazyload" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank">
                        <img data-src="/images/masthead/turki.png" alt="Images" width="100%" class="lazyload" />
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>