<section class="section" style="background-image: url('/images/banners/x.jpg');">
    <div class="section__container mb-4 mb-lg-3 pb-4 pb-lg-3">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-12">
                    <div class="section__heading center mb-lg-4 mb-3">
                        <h2 class="head__text--title mb-2">
                            Dengar dari Mereka yang Bekerja di Payung Madinah
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="works">
                <div class="col col-12 col-lg-9">
                </div>
            </div>
            <div class="row mb-4 justify-content-center">
                <div class="col col-12 col-lg-9">
                    <div class="swiper swiperTesti">
                        <div class="swiper-wrapper" style="padding-bottom: 64px;">
                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body p-5">
                                        <div class="row mb-3">
                                            <div class="col col-12 col-lg-4 mb-lg-0 mb-3 text-center text-lg-start">
                                                <img loading="lazy" src="/images/testimoni/mbax.png" style="height:auto;" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"
                                                    class="text-center text-lg-start" alt="Testimoni 1" />
                                            </div>
                                            <div class="col col-12 col-lg-8 text-dark text-start fs-16">
                                                <img loading="lazy" src="/images/quote.png" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"
                                                    style="height: auto;width:auto;border-radius:0;" class="mb-4"
                                                    alt="Testimoni 1" />
                                                <p>
                                                    Di sini, saya dipercaya
                                                    untuk menjaga hubungan baik
                                                    dengan para calon
                                                    jamaah maupun jamaah yang
                                                    sudah berangkat. Bukan
                                                    sekadar membalas
                                                    pesan, tapi benar-benar
                                                    mendengarkan, memahami
                                                    kebutuhan, dan
                                                    memberikan solusi terbaik
                                                    dengan penuh empati.
                                                </p>
                                                <p>
                                                    Saya bersyukur bisa berada
                                                    di lingkungan kerja yang
                                                    selalu mendorong untuk
                                                    belajar, bertumbuh, dan
                                                    berbagi ilmu. Di Payung
                                                    Madinah, kami percaya
                                                    bahwa setiap interaksi
                                                    dengan jamaah adalah bentuk
                                                    ibadah, maka setiap
                                                    layanan harus tulus dari
                                                    hati.
                                                </p>
                                                <p>
                                                    <b>Dan satu hal yang selalu
                                                        saya pegang teguh:</b>
                                                    Melayani dengan hati, akan
                                                    selalu berbuah berkah.
                                                </p>

                                                <p class="mt-3 fs-14">
                                                    <span class="color-orange fw-bold fs-14">Hisnati
                                                        Hunafa</span> | Customer
                                                    Relationship Management
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body p-5">
                                        <div class="row mb-3">
                                            <div class="col col-12 col-lg-4 mb-lg-0 mb-3 text-center text-lg-start">
                                                <img loading="lazy" src="/images/testimoni/mbax.png" style="height:auto;" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"
                                                    class="text-center text-lg-start" alt="Testimoni 1" />
                                            </div>
                                            <div class="col col-12 col-lg-8 text-dark text-start fs-16">
                                                <img loading="lazy" src="/images/quote.png" data-aos="fade" data-aos-delay="0" data-aos-duration="1500"
                                                    style="height: auto;width:auto;border-radius:0;" class="mb-4" 
                                                    alt="Testimoni 1" />
                                                <p>
                                                    Di sini, saya dipercaya
                                                    untuk menjaga hubungan baik
                                                    dengan para calon
                                                    jamaah maupun jamaah yang
                                                    sudah berangkat. Bukan
                                                    sekadar membalas
                                                    pesan, tapi benar-benar
                                                    mendengarkan, memahami
                                                    kebutuhan, dan
                                                    memberikan solusi terbaik
                                                    dengan penuh empati.
                                                </p>
                                                <p>
                                                    Saya bersyukur bisa berada
                                                    di lingkungan kerja yang
                                                    selalu mendorong untuk
                                                    belajar, bertumbuh, dan
                                                    berbagi ilmu. Di Payung
                                                    Madinah, kami percaya
                                                    bahwa setiap interaksi
                                                    dengan jamaah adalah bentuk
                                                    ibadah, maka setiap
                                                    layanan harus tulus dari
                                                    hati.
                                                </p>
                                                <p>
                                                    <b>Dan satu hal yang selalu
                                                        saya pegang teguh:</b>
                                                    Melayani dengan hati, akan
                                                    selalu berbuah berkah.
                                                </p>

                                                <p class="mt-3 fs-14">
                                                    <span class="color-orange fw-bold fs-14">Hisnati
                                                        Hunafa</span> | Customer
                                                    Relationship Management
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body p-5">
                                        <div class="row mb-3">
                                            <div class="col col-12 col-lg-4 mb-lg-0 mb-3 text-center text-lg-start">
                                                <img loading="lazy" src="/images/testimoni/mbax.png" style="height:auto;"
                                                    class="text-center text-lg-start" alt="Testimoni 1" />
                                            </div>
                                            <div class="col col-12 col-lg-8 text-dark text-start fs-16">
                                                <img loading="lazy" src="/images/quote.png"
                                                    style="height: auto;width:auto;border-radius:0;" class="mb-4"
                                                    alt="Testimoni 1" />
                                                <p>
                                                    Di sini, saya dipercaya
                                                    untuk menjaga hubungan baik
                                                    dengan para calon
                                                    jamaah maupun jamaah yang
                                                    sudah berangkat. Bukan
                                                    sekadar membalas
                                                    pesan, tapi benar-benar
                                                    mendengarkan, memahami
                                                    kebutuhan, dan
                                                    memberikan solusi terbaik
                                                    dengan penuh empati.
                                                </p>
                                                <p>
                                                    Saya bersyukur bisa berada
                                                    di lingkungan kerja yang
                                                    selalu mendorong untuk
                                                    belajar, bertumbuh, dan
                                                    berbagi ilmu. Di Payung
                                                    Madinah, kami percaya
                                                    bahwa setiap interaksi
                                                    dengan jamaah adalah bentuk
                                                    ibadah, maka setiap
                                                    layanan harus tulus dari
                                                    hati.
                                                </p>
                                                <p>
                                                    <b>Dan satu hal yang selalu
                                                        saya pegang teguh:</b>
                                                    Melayani dengan hati, akan
                                                    selalu berbuah berkah.
                                                </p>

                                                <p class="mt-3 fs-14">
                                                    <span class="color-orange fw-bold fs-14">Hisnati
                                                        Hunafa</span> | Customer
                                                    Relationship Management
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="swiper-slide">
                                <div class="card js-match-height">
                                    <div class="card-body p-5">
                                        <div class="row mb-3">
                                            <div class="col col-12 col-lg-4 mb-lg-0 mb-3 text-center text-lg-start">
                                                <img loading="lazy" src="/images/testimoni/mbax.png" style="height:auto;"
                                                    class="text-center text-lg-start" alt="Testimoni 1" />
                                            </div>
                                            <div class="col col-12 col-lg-8 text-dark text-start fs-16">
                                                <img loading="lazy" src="/images/quote.png"
                                                    style="height: auto;width:auto;border-radius:0;" class="mb-4"
                                                    alt="Testimoni 1" />
                                                <p>
                                                    Di sini, saya dipercaya
                                                    untuk menjaga hubungan baik
                                                    dengan para calon
                                                    jamaah maupun jamaah yang
                                                    sudah berangkat. Bukan
                                                    sekadar membalas
                                                    pesan, tapi benar-benar
                                                    mendengarkan, memahami
                                                    kebutuhan, dan
                                                    memberikan solusi terbaik
                                                    dengan penuh empati.
                                                </p>
                                                <p>
                                                    Saya bersyukur bisa berada
                                                    di lingkungan kerja yang
                                                    selalu mendorong untuk
                                                    belajar, bertumbuh, dan
                                                    berbagi ilmu. Di Payung
                                                    Madinah, kami percaya
                                                    bahwa setiap interaksi
                                                    dengan jamaah adalah bentuk
                                                    ibadah, maka setiap
                                                    layanan harus tulus dari
                                                    hati.
                                                </p>
                                                <p>
                                                    <b>Dan satu hal yang selalu
                                                        saya pegang teguh:</b>
                                                    Melayani dengan hati, akan
                                                    selalu berbuah berkah.
                                                </p>

                                                <p class="mt-3 fs-14">
                                                    <span class="color-orange fw-bold fs-14">Hisnati
                                                        Hunafa</span> | Customer
                                                    Relationship Management
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>